mattervault/n8n-workflows/audit-archive.json
[{
  "name": "Audit Archive (7-Year Retention)",
  "description": "Archives audit partitions older than 7 years to JSONL files. Runs on 2nd of each month.",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 2,
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Monthly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find partitions older than 7 years\nSELECT \n  tablename as partition_name,\n  SUBSTRING(tablename FROM 'chat_query_logs_(\\d{4})_(\\d{2})') as year_month\nFROM pg_tables\nWHERE schemaname = 'audit'\n  AND tablename LIKE 'chat_query_logs_%'\n  AND tablename != 'chat_query_logs'\n  AND TO_DATE(\n    SUBSTRING(tablename FROM 'chat_query_logs_(\\d{4}_\\d{2})'),\n    'YYYY_MM'\n  ) < (CURRENT_DATE - INTERVAL '7 years')\nORDER BY tablename;",
        "options": {}
      },
      "id": "find-old-partitions",
      "name": "Find Old Partitions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [300, 300],
      "credentials": {
        "postgres": {
          "id": "chatui-db",
          "name": "ChatUI Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-partitions",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-partitions",
      "name": "Has Old Partitions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// No partitions to archive\nreturn [{\n  json: {\n    message: 'No partitions older than 7 years found',\n    action: 'none',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "no-partitions",
      "name": "No Partitions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Export partition to JSONL format\n-- Note: This returns the data; actual file writing would need external storage\nSELECT row_to_json(t)::text as json_row\nFROM audit.{{ $json.partition_name }} t\nORDER BY created_at\nLIMIT 10000;",
        "options": {}
      },
      "id": "export-partition",
      "name": "Export Partition Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 300],
      "credentials": {
        "postgres": {
          "id": "chatui-db",
          "name": "ChatUI Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare archive data\nconst partitionName = $('Find Old Partitions').first().json.partition_name;\nconst rows = $input.all();\n\n// Convert to JSONL format\nconst jsonlContent = rows.map(r => r.json.json_row).join('\\n');\n\nreturn [{\n  json: {\n    partition_name: partitionName,\n    row_count: rows.length,\n    archive_content: jsonlContent,\n    archive_filename: `${partitionName}.jsonl`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-archive",
      "name": "Prepare Archive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Drop the archived partition\n-- WARNING: Only run after confirming archive was saved!\nDROP TABLE IF EXISTS audit.{{ $json.partition_name }};",
        "options": {}
      },
      "id": "drop-partition",
      "name": "Drop Partition",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 300],
      "credentials": {
        "postgres": {
          "id": "chatui-db",
          "name": "ChatUI Database"
        }
      },
      "disabled": true,
      "notes": "DISABLED by default for safety. Enable after adding file storage step to save archives."
    },
    {
      "parameters": {
        "jsCode": "// Final summary\nconst archiveData = $('Prepare Archive').first().json;\n\nreturn [{\n  json: {\n    message: 'Archive prepared (file storage not configured)',\n    partition: archiveData.partition_name,\n    rows_exported: archiveData.row_count,\n    note: 'Enable Drop Partition node after configuring file storage',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "summarize",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 450]
    }
  ],
  "connections": {
    "Monthly Schedule": {
      "main": [[{ "node": "Find Old Partitions", "type": "main", "index": 0 }]]
    },
    "Find Old Partitions": {
      "main": [[{ "node": "Has Old Partitions?", "type": "main", "index": 0 }]]
    },
    "Has Old Partitions?": {
      "main": [
        [{ "node": "Export Partition Data", "type": "main", "index": 0 }],
        [{ "node": "No Partitions", "type": "main", "index": 0 }]
      ]
    },
    "Export Partition Data": {
      "main": [[{ "node": "Prepare Archive", "type": "main", "index": 0 }]]
    },
    "Prepare Archive": {
      "main": [[{ "node": "Summarize", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}]
