mattervault/n8n-workflows/audit-partition-maintenance.json
[{
  "name": "Audit Partition Maintenance",
  "description": "Creates future monthly partitions for audit.chat_query_logs. Runs on 1st of each month.",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 1,
              "triggerAtHour": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Monthly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get current date info\nSELECT \n  EXTRACT(YEAR FROM NOW())::int as current_year,\n  EXTRACT(MONTH FROM NOW())::int as current_month,\n  TO_CHAR(NOW(), 'YYYY-MM') as current_period;",
        "options": {}
      },
      "id": "get-current-date",
      "name": "Get Current Date",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [300, 300],
      "credentials": {
        "postgres": {
          "id": "chatui-db",
          "name": "ChatUI Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate partition creation SQL for next 3 months\nconst input = $input.first().json;\nconst currentYear = input.current_year;\nconst currentMonth = input.current_month;\n\nconst partitions = [];\n\nfor (let i = 0; i < 3; i++) {\n  let targetMonth = currentMonth + i;\n  let targetYear = currentYear;\n  \n  // Handle year rollover\n  while (targetMonth > 12) {\n    targetMonth -= 12;\n    targetYear += 1;\n  }\n  \n  // Calculate next month for end date\n  let nextMonth = targetMonth + 1;\n  let nextYear = targetYear;\n  if (nextMonth > 12) {\n    nextMonth = 1;\n    nextYear += 1;\n  }\n  \n  const monthPadded = String(targetMonth).padStart(2, '0');\n  const nextMonthPadded = String(nextMonth).padStart(2, '0');\n  \n  partitions.push({\n    partition_name: `chat_query_logs_${targetYear}_${monthPadded}`,\n    start_date: `${targetYear}-${monthPadded}-01`,\n    end_date: `${nextYear}-${nextMonthPadded}-01`,\n    year: targetYear,\n    month: targetMonth\n  });\n}\n\nreturn partitions.map(p => ({ json: p }));"
      },
      "id": "generate-partitions",
      "name": "Generate Partition List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=CREATE TABLE IF NOT EXISTS audit.{{ $json.partition_name }}\nPARTITION OF audit.chat_query_logs\nFOR VALUES FROM ('{{ $json.start_date }}') TO ('{{ $json.end_date }}');",
        "options": {}
      },
      "id": "create-partition",
      "name": "Create Partition",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 300],
      "credentials": {
        "postgres": {
          "id": "chatui-db",
          "name": "ChatUI Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Summarize results\nconst items = $input.all();\nconst created = items.filter(i => !i.json.error).length;\nconst errors = items.filter(i => i.json.error).length;\n\nreturn [{\n  json: {\n    message: `Partition maintenance complete`,\n    partitions_processed: items.length,\n    created_or_verified: created,\n    errors: errors,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "summarize",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Monthly Schedule": {
      "main": [[{ "node": "Get Current Date", "type": "main", "index": 0 }]]
    },
    "Get Current Date": {
      "main": [[{ "node": "Generate Partition List", "type": "main", "index": 0 }]]
    },
    "Generate Partition List": {
      "main": [[{ "node": "Create Partition", "type": "main", "index": 0 }]]
    },
    "Create Partition": {
      "main": [[{ "node": "Summarize Results", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}]
