mattervault/n8n-workflows/audit-archive.json
[{"updatedAt":"2026-01-29T14:19:02.350Z","createdAt":"2026-01-29T14:19:02.350Z","id":"GkM7qDYrqrAQeAyv","name":"Audit Archive (7-Year Retention)","description":"Archives audit partitions older than 7 years to JSONL files in /files/audit-archives/. Runs on 2nd of each month.","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtDay":2,"triggerAtHour":2}]}},"id":"schedule-trigger","name":"Monthly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,300]},{"parameters":{"operation":"executeQuery","query":"-- Find partitions older than 7 years\nSELECT \n  tablename as partition_name,\n  SUBSTRING(tablename FROM 'chat_query_logs_(\\d{4}_\\d{2})') as year_month\nFROM pg_tables\nWHERE schemaname = 'audit'\n  AND tablename LIKE 'chat_query_logs_%'\n  AND tablename != 'chat_query_logs'\n  AND TO_DATE(\n    SUBSTRING(tablename FROM 'chat_query_logs_(\\d{4}_\\d{2})'),\n    'YYYY_MM'\n  ) < (CURRENT_DATE - INTERVAL '7 years')\nORDER BY tablename;","options":{}},"id":"find-old-partitions","name":"Find Old Partitions","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[300,300],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-partitions","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"if-has-partitions","name":"Has Old Partitions?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,300]},{"parameters":{"jsCode":"// No partitions to archive\nreturn [{\n  json: {\n    message: 'No partitions older than 7 years found',\n    action: 'none',\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"no-partitions","name":"No Partitions","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,500]},{"parameters":{"operation":"executeQuery","query":"=-- Export partition to JSONL format (all rows)\nSELECT row_to_json(t)::text as json_row\nFROM audit.{{ $json.partition_name }} t\nORDER BY created_at;","options":{}},"id":"export-partition","name":"Export Partition Data","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[700,300],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Prepare archive data as JSONL\nconst partitionInfo = $('Find Old Partitions').first().json;\nconst partitionName = partitionInfo.partition_name;\nconst rows = $input.all();\n\n// Convert to JSONL format (one JSON object per line)\nconst jsonlContent = rows.map(r => r.json.json_row).join('\\n');\n\n// Create binary data for file writing\nconst binaryData = Buffer.from(jsonlContent, 'utf-8');\n\nreturn [{\n  json: {\n    partition_name: partitionName,\n    row_count: rows.length,\n    filename: `${partitionName}.jsonl`,\n    filepath: `/files/audit-archives/${partitionName}.jsonl`\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'application/x-ndjson',\n      fileName: `${partitionName}.jsonl`\n    }\n  }\n}];"},"id":"prepare-archive","name":"Prepare Archive Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"operation":"write","fileName":"={{ $json.filepath }}","options":{}},"id":"write-file","name":"Write Archive File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1100,300]},{"parameters":{"operation":"executeQuery","query":"=-- Get row count before dropping for verification\nSELECT COUNT(*) as archived_rows FROM audit.{{ $('Prepare Archive Data').first().json.partition_name }};","options":{}},"id":"verify-count","name":"Verify Row Count","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1300,300],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"counts-match","leftValue":"={{ $('Prepare Archive Data').first().json.row_count }}","rightValue":"={{ $json.archived_rows }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"verify-archive","name":"Archive Complete?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,300]},{"parameters":{"operation":"executeQuery","query":"=-- Drop the archived partition (data is safely in file)\nDROP TABLE IF EXISTS audit.{{ $('Prepare Archive Data').first().json.partition_name }};","options":{}},"id":"drop-partition","name":"Drop Partition","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1700,250],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Archive verification failed\nconst archiveData = $('Prepare Archive Data').first().json;\nconst dbCount = $('Verify Row Count').first().json.archived_rows;\n\nthrow new Error(`Archive verification failed! ` +\n  `File has ${archiveData.row_count} rows, DB has ${dbCount} rows. ` +\n  `Partition NOT dropped. Manual intervention required.`);"},"id":"archive-failed","name":"Archive Failed","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,450]},{"parameters":{"jsCode":"// Final success summary\nconst archiveData = $('Prepare Archive Data').first().json;\n\nreturn [{\n  json: {\n    status: 'success',\n    message: 'Successfully archived and dropped partition',\n    partition: archiveData.partition_name,\n    rows_archived: archiveData.row_count,\n    archive_file: archiveData.filepath,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"success-summary","name":"Success Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,250]}],"connections":{"Monthly Schedule":{"main":[[{"node":"Find Old Partitions","type":"main","index":0}]]},"Find Old Partitions":{"main":[[{"node":"Has Old Partitions?","type":"main","index":0}]]},"Has Old Partitions?":{"main":[[{"node":"Export Partition Data","type":"main","index":0}],[{"node":"No Partitions","type":"main","index":0}]]},"Export Partition Data":{"main":[[{"node":"Prepare Archive Data","type":"main","index":0}]]},"Prepare Archive Data":{"main":[[{"node":"Write Archive File","type":"main","index":0}]]},"Write Archive File":{"main":[[{"node":"Verify Row Count","type":"main","index":0}]]},"Verify Row Count":{"main":[[{"node":"Archive Complete?","type":"main","index":0}]]},"Archive Complete?":{"main":[[{"node":"Drop Partition","type":"main","index":0}],[{"node":"Archive Failed","type":"main","index":0}]]},"Drop Partition":{"main":[[{"node":"Success Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Monthly Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"98c3f087-f6ca-4afa-8e35-53ad4721cd85","activeVersionId":"98c3f087-f6ca-4afa-8e35-53ad4721cd85","versionCounter":34,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-29T14:19:02.350Z","createdAt":"2026-01-29T14:19:02.350Z","role":"workflow:owner","workflowId":"GkM7qDYrqrAQeAyv","projectId":"Dv5C9YQYnDRwj1db","project":{"updatedAt":"2026-01-22T13:36:52.732Z","createdAt":"2026-01-21T21:09:23.057Z","id":"Dv5C9YQYnDRwj1db","name":"Trevor Collins <tmcollins4@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"6550758c-677d-4b96-b6c6-e38c49125378"}}]}]