mattervault/n8n-workflows/audit-partition-maintenance.json
[{"updatedAt":"2026-01-29T14:07:43.847Z","createdAt":"2026-01-29T14:07:43.847Z","id":"SPDqGNXbYC6J4aKX","name":"Audit Partition Maintenance","description":"Creates future monthly partitions for audit.chat_query_logs. Runs on 1st of each month.","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtDay":1,"triggerAtHour":0}]}},"id":"schedule-trigger","name":"Monthly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,300]},{"parameters":{"operation":"executeQuery","query":"-- Get current date info\nSELECT \n  EXTRACT(YEAR FROM NOW())::int as current_year,\n  EXTRACT(MONTH FROM NOW())::int as current_month,\n  TO_CHAR(NOW(), 'YYYY-MM') as current_period;","options":{}},"id":"get-current-date","name":"Get Current Date","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[300,300],"credentials":{"postgres":{"id":"chatui-db","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Generate partition creation SQL for next 3 months\nconst input = $input.first().json;\nconst currentYear = input.current_year;\nconst currentMonth = input.current_month;\n\nconst partitions = [];\n\nfor (let i = 0; i < 3; i++) {\n  let targetMonth = currentMonth + i;\n  let targetYear = currentYear;\n  \n  // Handle year rollover\n  while (targetMonth > 12) {\n    targetMonth -= 12;\n    targetYear += 1;\n  }\n  \n  // Calculate next month for end date\n  let nextMonth = targetMonth + 1;\n  let nextYear = targetYear;\n  if (nextMonth > 12) {\n    nextMonth = 1;\n    nextYear += 1;\n  }\n  \n  const monthPadded = String(targetMonth).padStart(2, '0');\n  const nextMonthPadded = String(nextMonth).padStart(2, '0');\n  \n  partitions.push({\n    partition_name: `chat_query_logs_${targetYear}_${monthPadded}`,\n    start_date: `${targetYear}-${monthPadded}-01`,\n    end_date: `${nextYear}-${nextMonthPadded}-01`,\n    year: targetYear,\n    month: targetMonth\n  });\n}\n\nreturn partitions.map(p => ({ json: p }));"},"id":"generate-partitions","name":"Generate Partition List","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300]},{"parameters":{"operation":"executeQuery","query":"=CREATE TABLE IF NOT EXISTS audit.{{ $json.partition_name }}\nPARTITION OF audit.chat_query_logs\nFOR VALUES FROM ('{{ $json.start_date }}') TO ('{{ $json.end_date }}');","options":{}},"id":"create-partition","name":"Create Partition","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[700,300],"credentials":{"postgres":{"id":"chatui-db","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Summarize results\nconst items = $input.all();\nconst created = items.filter(i => !i.json.error).length;\nconst errors = items.filter(i => i.json.error).length;\n\nreturn [{\n  json: {\n    message: `Partition maintenance complete`,\n    partitions_processed: items.length,\n    created_or_verified: created,\n    errors: errors,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"summarize","name":"Summarize Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]}],"connections":{"Monthly Schedule":{"main":[[{"node":"Get Current Date","type":"main","index":0}]]},"Get Current Date":{"main":[[{"node":"Generate Partition List","type":"main","index":0}]]},"Generate Partition List":{"main":[[{"node":"Create Partition","type":"main","index":0}]]},"Create Partition":{"main":[[{"node":"Summarize Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Monthly Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"66bf498c-1764-48a6-ac70-7f1ca65ea36a","activeVersionId":"66bf498c-1764-48a6-ac70-7f1ca65ea36a","versionCounter":34,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-29T14:07:43.847Z","createdAt":"2026-01-29T14:07:43.847Z","role":"workflow:owner","workflowId":"SPDqGNXbYC6J4aKX","projectId":"Dv5C9YQYnDRwj1db","project":{"updatedAt":"2026-01-22T13:36:52.732Z","createdAt":"2026-01-21T21:09:23.057Z","id":"Dv5C9YQYnDRwj1db","name":"Trevor Collins <tmcollins4@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"6550758c-677d-4b96-b6c6-e38c49125378"}}]}]