mattervault/n8n-workflows/document-ingestion-v2.json
[
  {
    "updatedAt": "2026-01-28T19:44:11.633Z",
    "createdAt": "2026-01-28T19:43:54.426Z",
    "id": "ZIhqLsxBzrUam8bi",
    "name": "Document Ingestion Pipeline V2 (Hybrid)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "document-added-v2",
          "options": {}
        },
        "id": "webhook-1",
        "name": "Webhook - Document Added",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "webhookId": "document-added-v2"
      },
      {
        "parameters": {
          "jsCode": "let webhookData = $input.first().json.body || $input.first().json;\n\nif (typeof webhookData === 'string') {\n  webhookData = JSON.parse(webhookData);\n}\n\nconst docUrl = webhookData.doc_url;\nconst title = webhookData.title || webhookData.doc_title || 'Untitled';\n\nif (!docUrl) {\n  throw new Error('No doc_url in webhook payload. Received: ' + JSON.stringify(webhookData));\n}\n\nconst match = docUrl.match(/\\/documents\\/(\\d+)/);\nif (!match) {\n  throw new Error('Could not parse document ID from doc_url: ' + docUrl);\n}\n\nreturn [{ json: { document_id: match[1], title: title, doc_url: docUrl } }];"
        },
        "id": "code-parse-url",
        "name": "Parse Document URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=http://paperless:8000/api/documents/{{ $json.document_id }}/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 30000
          }
        },
        "id": "http-fetch-details",
        "name": "Fetch Document Details",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          650,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4TnejHYwv9j1gXko",
            "name": "Paperless API"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "method": "GET",
          "url": "http://paperless:8000/api/tags/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 30000
          }
        },
        "id": "http-fetch-tags",
        "name": "Fetch All Tags",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          850,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4TnejHYwv9j1gXko",
            "name": "Paperless API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const docNode = $('Fetch Document Details').first().json;\nconst tagsResponse = $input.first().json;\nconst allTags = tagsResponse.results || tagsResponse || [];\n\nconst documentId = docNode.id;\nconst title = docNode.title;\nconst tagIds = docNode.tags || [];\n\nconst tagNames = [];\nfor (const tagId of tagIds) {\n  const tag = allTags.find(t => t.id === tagId);\n  if (tag) tagNames.push(tag.name);\n}\n\nconst systemTags = ['inbox', 'processed', 'pending', 'review', 'archive', 'intake'];\nlet familyId = 'unknown';\nfor (const tagName of tagNames) {\n  if (!systemTags.includes(tagName.toLowerCase())) {\n    familyId = tagName.toLowerCase();\n    break;\n  }\n}\n\nreturn [{ json: {\n  document_id: String(documentId),\n  title: title,\n  family_id: familyId,\n  tag_names: tagNames,\n  download_url: 'http://paperless:8000/api/documents/' + documentId + '/download/'\n}}];"
        },
        "id": "code-extract-info",
        "name": "Extract Document Info",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1050,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-family-tag",
                "leftValue": "={{ $json.family_id }}",
                "rightValue": "unknown",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "if-has-family",
        "name": "Has Family Tag?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1250,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const info = $input.first().json;\nthrow new Error('MISSING FAMILY TAG: Document \"' + info.title + '\" (ID: ' + info.document_id + ') has no family tag. Tags found: [' + info.tag_names.join(', ') + ']. Please add a family tag (e.g., morrison, johnson) in Paperless and re-trigger.');"
        },
        "id": "code-error-no-family",
        "name": "Error: Missing Family Tag",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1450,
          500
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $json.download_url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "http-download-pdf",
        "name": "Download PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1450,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4TnejHYwv9j1gXko",
            "name": "Paperless API"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5001/v1/chunk/hierarchical/file/async",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "files",
                "inputDataFieldName": "data"
              },
              {
                "parameterType": "formData",
                "name": "options",
                "value": "{\"do_ocr\": true, \"force_ocr\": false, \"ocr_lang\": \"en\"}"
              }
            ]
          },
          "options": {
            "timeout": 120000
          }
        },
        "id": "http-docling-start",
        "name": "Start Docling Chunking",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1650,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "// Extract task_id from Docling chunking response\nconst response = $input.first().json;\nconsole.log('Docling chunking response keys:', Object.keys(response));\n\nconst taskId = response.task_id || response.id || response.taskId;\n\nif (!taskId) {\n  // Maybe it returned the result directly (sync mode)?\n  // Chunking endpoint returns 'chunks' array directly\n  if (response.chunks || response.document || response.documents) {\n    // Direct result - skip polling\n    console.log('Direct result received with', (response.chunks || []).length, 'chunks');\n    return [{ json: { direct_result: true, result: response } }];\n  }\n  throw new Error('No task_id in Docling response: ' + JSON.stringify(Object.keys(response)));\n}\n\nconsole.log('Async task started:', taskId);\nreturn [{ json: { task_id: taskId, poll_count: 0, direct_result: false } }];"
        },
        "id": "code-extract-task",
        "name": "Extract Task ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1850,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "is-direct",
                "leftValue": "={{ $json.direct_result }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "if-direct-result",
        "name": "Direct Result?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2050,
          300
        ]
      },
      {
        "parameters": {
          "amount": 5,
          "unit": "seconds"
        },
        "id": "wait-poll",
        "name": "Wait 5s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2250,
          400
        ],
        "webhookId": "poll-wait-v2"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=http://host.docker.internal:5001/v1/status/poll/{{ $json.task_id }}",
          "options": {
            "timeout": 30000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "http-check-status",
        "name": "Check Conversion Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2450,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const statusResponse = $input.first().json;\nconst prevData = $('Wait 5s').first().json;\nconst taskId = prevData.task_id;\nconst pollCount = (prevData.poll_count || 0) + 1;\n\nconsole.log('Poll #' + pollCount + ' - Response:', JSON.stringify(statusResponse));\n\n// Handle array response\nconst status_obj = Array.isArray(statusResponse) ? statusResponse[0] : statusResponse;\nconst status = (status_obj.task_status || status_obj.status || status_obj.state || 'unknown').toLowerCase();\n\nconsole.log('Status:', status);\n\n// Check if conversion is complete\nif (status === 'success' || status === 'completed' || status === 'done' || status === 'finished') {\n  return [{ json: { task_id: taskId, is_complete: true, poll_count: pollCount } }];\n}\n\n// Check for failure - get error details\nif (status === 'failure' || status === 'failed' || status === 'error') {\n  const errorMsg = status_obj.task_meta || status_obj.error || status_obj.message || 'Unknown error';\n  throw new Error('Docling conversion FAILED: ' + JSON.stringify(errorMsg) + '. Full response: ' + JSON.stringify(status_obj));\n}\n\n// Still processing - check if we've exceeded max polls (60 = 5 minutes)\nif (pollCount >= 60) {\n  throw new Error('Docling conversion timed out after 5 minutes. Last status: ' + JSON.stringify(statusResponse));\n}\n\n// Not complete yet, continue polling\nreturn [{ json: { task_id: taskId, is_complete: false, poll_count: pollCount } }];"
        },
        "id": "code-check-complete",
        "name": "Check If Complete",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2650,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "is-complete",
                "leftValue": "={{ $json.is_complete }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "if-complete",
        "name": "Is Complete?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2850,
          400
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=http://host.docker.internal:5001/v1/result/{{ $json.task_id }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "http-get-result",
        "name": "Get Chunking Result",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3050,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "// Process hierarchical chunking response from Docling\n// Response has 'chunks' array with page_numbers field\nlet doclingResponse;\ntry {\n  const directCheck = $('Direct Result?');\n  if (directCheck && directCheck.first) {\n    const directItem = directCheck.first();\n    if (directItem && directItem.json) {\n      const directData = directItem.json;\n      if (directData.direct_result && directData.result) {\n        doclingResponse = directData.result;\n      }\n    }\n  }\n} catch (e) {\n  // Direct result not available, will use input\n}\nif (!doclingResponse) {\n  doclingResponse = $input.first().json;\n}\n\nconst extractNode = $('Extract Document Info').first().json;\nconst documentId = extractNode.document_id;\nconst familyId = extractNode.family_id;\nconst title = extractNode.title;\n\nconsole.log('Docling response keys:', Object.keys(doclingResponse));\n\n// Get chunks from hierarchical chunking response\nconst doclingChunks = doclingResponse.chunks || [];\nconsole.log('Received', doclingChunks.length, 'chunks from Docling');\n\nif (doclingChunks.length === 0) {\n  throw new Error('No chunks received from Docling. Response: ' + JSON.stringify(Object.keys(doclingResponse)));\n}\n\n// Convert Docling chunks to our format\nconst chunks = [];\nconst MIN_CHUNK_SIZE = 50;\n\nfor (let i = 0; i < doclingChunks.length; i++) {\n  const chunk = doclingChunks[i];\n  const text = chunk.text || chunk.raw_text || '';\n  \n  // Skip very small chunks\n  if (text.trim().length < MIN_CHUNK_SIZE) {\n    console.log('Skipping small chunk', i, ':', text.length, 'chars');\n    continue;\n  }\n  \n  // Get page number from page_numbers array (use first page if spans multiple)\n  const pageNumbers = chunk.page_numbers || [];\n  const pageNum = pageNumbers.length > 0 ? pageNumbers[0] : 1;\n  \n  chunks.push({\n    text: text.trim(),\n    page_num: pageNum,\n    document_id: documentId,\n    family_id: familyId,\n    document_title: title,\n    chunk_index: chunks.length,\n    // Include headings for context if available\n    headings: chunk.headings || []\n  });\n}\n\n// Ensure at least one chunk\nif (chunks.length === 0 && doclingChunks.length > 0) {\n  const firstChunk = doclingChunks[0];\n  chunks.push({\n    text: (firstChunk.text || firstChunk.raw_text || 'Empty document').trim(),\n    page_num: (firstChunk.page_numbers || [])[0] || 1,\n    document_id: documentId,\n    family_id: familyId,\n    document_title: title,\n    chunk_index: 0,\n    headings: firstChunk.headings || []\n  });\n}\n\nconsole.log('Created', chunks.length, 'chunks with page numbers');\n\n// Log page distribution\nconst pageStats = {};\nchunks.forEach(c => { pageStats[c.page_num] = (pageStats[c.page_num] || 0) + 1; });\nconsole.log('Page distribution:', JSON.stringify(pageStats));\n\nreturn chunks.map(c => ({ json: c }));"
        },
        "id": "code-chunk",
        "name": "Process Docling Chunks",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3250,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:11434/api/embeddings",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": {{ JSON.stringify($json.text) }}\n}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "http-embed",
        "name": "Embed Chunk",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3450,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "// Simple hash function for BM25 sparse vector generation\nfunction hashCode(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convert to 32-bit integer\n  }\n  return Math.abs(hash);\n}\n\n// Get chunk data from previous node\nconst chunkData = $('Process Docling Chunks').item.json;\nconst embedding = $json.embedding;\n\nif (!embedding || !Array.isArray(embedding)) {\n  throw new Error('Failed to get embedding from Ollama. Response: ' + JSON.stringify($json));\n}\n\n// Generate BM25-compatible sparse vector from the chunk text\nconst text = chunkData.text.toLowerCase();\nconst words = text.split(/\\W+/).filter(w => w.length > 2);\nconst wordCounts = {};\nwords.forEach(w => { wordCounts[w] = (wordCounts[w] || 0) + 1; });\n\n// Convert to sparse format: {indices: [], values: []}\nconst indices = [];\nconst values = [];\nObject.entries(wordCounts).forEach(([word, count]) => {\n  indices.push(hashCode(word) % 30000);  // Hash to fixed vocab size\n  values.push(count);\n});\n\n// Create integer point ID: document_id * 10000 + chunk_index\nconst pointId = parseInt(chunkData.document_id) * 10000 + chunkData.chunk_index;\n\nreturn { json: {\n  point_id: pointId,\n  dense_vector: embedding,\n  sparse_vector: { indices: indices, values: values },\n  payload: chunkData\n}};",
          "mode": "runOnceForEachItem"
        },
        "id": "code-prepare-qdrant",
        "name": "Prepare Qdrant Payload (Hybrid)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3650,
          300
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "http://qdrant:6333/collections/mattervault_documents_v2/points",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"points\": [\n    {\n      \"id\": {{ $json.point_id }},\n      \"vector\": {\n        \"dense\": {{ JSON.stringify($json.dense_vector) }},\n        \"bm25\": {{ JSON.stringify($json.sparse_vector) }}\n      },\n      \"payload\": {{ JSON.stringify($json.payload) }}\n    }\n  ]\n}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "http-qdrant",
        "name": "Store in Qdrant V2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3850,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "// Loop back to Wait node with updated poll count\nconst taskId = $json.task_id;\nconst pollCount = $json.poll_count;\nreturn [{ json: { task_id: taskId, poll_count: pollCount } }];"
        },
        "id": "code-loop-back",
        "name": "Continue Polling",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3050,
          500
        ]
      },
      {
        "parameters": {
          "jsCode": "// Direct result path - extract from response\nconst data = $input.first().json;\nreturn [{ json: data.result }];"
        },
        "id": "code-direct-result",
        "name": "Use Direct Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2250,
          200
        ]
      }
    ],
    "connections": {
      "Webhook - Document Added": {
        "main": [
          [
            {
              "node": "Parse Document URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Document URL": {
        "main": [
          [
            {
              "node": "Fetch Document Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Document Details": {
        "main": [
          [
            {
              "node": "Fetch All Tags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch All Tags": {
        "main": [
          [
            {
              "node": "Extract Document Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Document Info": {
        "main": [
          [
            {
              "node": "Has Family Tag?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Family Tag?": {
        "main": [
          [
            {
              "node": "Download PDF",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error: Missing Family Tag",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download PDF": {
        "main": [
          [
            {
              "node": "Start Docling Chunking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Docling Chunking": {
        "main": [
          [
            {
              "node": "Extract Task ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Task ID": {
        "main": [
          [
            {
              "node": "Direct Result?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Direct Result?": {
        "main": [
          [
            {
              "node": "Use Direct Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 5s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Direct Result": {
        "main": [
          [
            {
              "node": "Process Docling Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 5s": {
        "main": [
          [
            {
              "node": "Check Conversion Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Conversion Status": {
        "main": [
          [
            {
              "node": "Check If Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check If Complete": {
        "main": [
          [
            {
              "node": "Is Complete?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Complete?": {
        "main": [
          [
            {
              "node": "Get Chunking Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Continue Polling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Chunking Result": {
        "main": [
          [
            {
              "node": "Process Docling Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Docling Chunks": {
        "main": [
          [
            {
              "node": "Embed Chunk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embed Chunk": {
        "main": [
          [
            {
              "node": "Prepare Qdrant Payload (Hybrid)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Qdrant Payload (Hybrid)": {
        "main": [
          [
            {
              "node": "Store in Qdrant V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Continue Polling": {
        "main": [
          [
            {
              "node": "Wait 5s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "mattervault-ingestion-v2"
    },
    "pinData": null,
    "versionId": "3947534d-c939-4371-bbae-e610f06cd111",
    "activeVersionId": "3947534d-c939-4371-bbae-e610f06cd111",
    "versionCounter": 8,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-01-28T19:43:54.426Z",
        "createdAt": "2026-01-28T19:43:54.426Z",
        "role": "workflow:owner",
        "workflowId": "ZIhqLsxBzrUam8bi",
        "projectId": "Dv5C9YQYnDRwj1db",
        "project": {
          "updatedAt": "2026-01-22T13:36:52.732Z",
          "createdAt": "2026-01-21T21:09:23.057Z",
          "id": "Dv5C9YQYnDRwj1db",
          "name": "Trevor Collins <tmcollins4@pm.me>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "6550758c-677d-4b96-b6c6-e38c49125378"
        }
      }
    ]
  }
]