mattervault/n8n-workflows/document-reconciliation.json
{
  "name": "Document Reconciliation (Sync)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sync.start_reconciliation('incremental') as run_id, sync.get_last_high_water_mark() as last_hwm",
        "options": {}
      },
      "id": "db-start-run",
      "name": "Start Reconciliation Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 300],
      "credentials": {
        "postgres": { "id": "chatui-db", "name": "ChatUI Database" }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst runId = result.run_id;\nconst lastHwm = result.last_hwm;\n\n// Calculate cutoff: use high water mark or fallback to 2 hours ago\nconst fallbackHours = 2;\nlet cutoff;\nif (lastHwm) {\n  cutoff = lastHwm;\n} else {\n  const d = new Date();\n  d.setHours(d.getHours() - fallbackHours);\n  cutoff = d.toISOString();\n}\n\nconsole.log('Run ID:', runId);\nconsole.log('Last HWM:', lastHwm);\nconsole.log('Using cutoff:', cutoff);\n\nreturn [{ json: { run_id: runId, cutoff: cutoff, start_time: new Date().toISOString() } }];"
      },
      "id": "code-prepare",
      "name": "Prepare Reconciliation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://paperless:8000/api/documents/?page_size=1000&ordering=-modified",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 60000 }
      },
      "id": "http-paperless-docs",
      "name": "Fetch All Paperless Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "4TnejHYwv9j1gXko", "name": "Paperless API" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/mattervault_documents_v2/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 10000,\n  \"with_payload\": [\"document_id\"],\n  \"with_vector\": false\n}",
        "options": { "timeout": 60000 }
      },
      "id": "http-qdrant-docs",
      "name": "Fetch All Qdrant Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 450]
    },
    {
      "parameters": {
        "jsCode": "const prepData = $('Prepare Reconciliation').first().json;\nconst paperlessResponse = $('Fetch All Paperless Documents').first().json;\nconst qdrantResponse = $('Fetch All Qdrant Documents').first().json;\n\n// Extract Paperless document IDs\nconst paperlessDocs = (paperlessResponse.results || []).map(d => ({\n  id: String(d.id),\n  title: d.title,\n  modified: d.modified\n}));\nconst paperlessIds = new Set(paperlessDocs.map(d => d.id));\n\n// Extract unique document IDs from Qdrant\nconst qdrantPoints = qdrantResponse.result?.points || [];\nconst qdrantDocIds = new Set();\nqdrantPoints.forEach(p => {\n  if (p.payload?.document_id) {\n    qdrantDocIds.add(String(p.payload.document_id));\n  }\n});\n\nconsole.log('Paperless docs:', paperlessIds.size);\nconsole.log('Qdrant doc IDs:', qdrantDocIds.size);\n\n// Find orphans (in Qdrant but not in Paperless)\nconst orphans = [];\nqdrantDocIds.forEach(id => {\n  if (!paperlessIds.has(id)) {\n    orphans.push({ document_id: id, action: 'delete' });\n  }\n});\n\n// Find missing (in Paperless but not in Qdrant)\nconst missing = [];\npaperlessDocs.forEach(doc => {\n  if (!qdrantDocIds.has(doc.id)) {\n    missing.push({ document_id: doc.id, title: doc.title, action: 'ingest' });\n  }\n});\n\nconsole.log('Orphans to delete:', orphans.length);\nconsole.log('Missing to ingest:', missing.length);\n\nreturn [{ json: {\n  run_id: prepData.run_id,\n  start_time: prepData.start_time,\n  paperless_count: paperlessIds.size,\n  qdrant_count: qdrantDocIds.size,\n  orphans: orphans,\n  missing: missing\n}}];"
      },
      "id": "code-compare",
      "name": "Compare Document Sets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 375]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "has-orphans",
            "leftValue": "={{ $json.orphans.length }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "gt" }
          }],
          "combinator": "and"
        }
      },
      "id": "if-has-orphans",
      "name": "Has Orphans?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.orphans.map(o => ({ json: { ...o, run_id: data.run_id } }));"
      },
      "id": "code-split-orphans",
      "name": "Split Orphans",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/mattervault_documents_v2/points/delete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [{ \"key\": \"document_id\", \"match\": { \"value\": \"{{ $json.document_id }}\" } }]\n  }\n}",
        "options": { "timeout": 30000 }
      },
      "id": "http-delete-orphan",
      "name": "Delete Orphan from Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO sync.reconciliation_log (run_id, operation, document_id, status) VALUES ({{ $json.run_id }}, 'delete', '{{ $json.document_id }}', 'success')",
        "options": {}
      },
      "id": "db-log-delete",
      "name": "Log Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1850, 200],
      "credentials": {
        "postgres": { "id": "chatui-db", "name": "ChatUI Database" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "has-missing",
            "leftValue": "={{ $json.missing.length }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "gt" }
          }],
          "combinator": "and"
        }
      },
      "id": "if-has-missing",
      "name": "Has Missing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn data.missing.map(m => ({ json: { ...m, run_id: data.run_id } }));"
      },
      "id": "code-split-missing",
      "name": "Split Missing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://matterlogic:5678/webhook/document-added-v2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doc_url\": \"http://paperless:8000/api/documents/{{ $json.document_id }}/\",\n  \"title\": {{ JSON.stringify($json.title || 'Untitled') }}\n}",
        "options": { "timeout": 300000 }
      },
      "id": "http-trigger-ingest",
      "name": "Trigger Ingestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 450]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO sync.reconciliation_log (run_id, operation, document_id, document_title, status) VALUES ({{ $json.run_id }}, 'ingest', '{{ $json.document_id }}', {{ $json.title ? \"'\" + $json.title.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, 'success')",
        "options": {}
      },
      "id": "db-log-ingest",
      "name": "Log Ingest",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1850, 450],
      "credentials": {
        "postgres": { "id": "chatui-db", "name": "ChatUI Database" }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[{ "node": "Start Reconciliation Run", "type": "main", "index": 0 }]]
    },
    "Start Reconciliation Run": {
      "main": [[{ "node": "Prepare Reconciliation", "type": "main", "index": 0 }]]
    },
    "Prepare Reconciliation": {
      "main": [[
        { "node": "Fetch All Paperless Documents", "type": "main", "index": 0 },
        { "node": "Fetch All Qdrant Documents", "type": "main", "index": 0 }
      ]]
    },
    "Fetch All Paperless Documents": {
      "main": [[{ "node": "Compare Document Sets", "type": "main", "index": 0 }]]
    },
    "Fetch All Qdrant Documents": {
      "main": [[{ "node": "Compare Document Sets", "type": "main", "index": 0 }]]
    },
    "Compare Document Sets": {
      "main": [[
        { "node": "Has Orphans?", "type": "main", "index": 0 },
        { "node": "Has Missing?", "type": "main", "index": 0 }
      ]]
    },
    "Has Orphans?": {
      "main": [
        [{ "node": "Split Orphans", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Orphans": {
      "main": [[{ "node": "Delete Orphan from Qdrant", "type": "main", "index": 0 }]]
    },
    "Delete Orphan from Qdrant": {
      "main": [[{ "node": "Log Delete", "type": "main", "index": 0 }]]
    },
    "Has Missing?": {
      "main": [
        [{ "node": "Split Missing", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Missing": {
      "main": [[{ "node": "Trigger Ingestion", "type": "main", "index": 0 }]]
    },
    "Trigger Ingestion": {
      "main": [[{ "node": "Log Ingest", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "maxRunTime": 900
  }
}
