mattervault/n8n-workflows/document-ingestion-v2.json
[{"updatedAt":"2026-01-28T19:44:11.633Z","createdAt":"2026-01-28T19:43:54.426Z","id":"ZIhqLsxBzrUam8bi","name":"Document Ingestion Pipeline V2 (Hybrid)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"document-added-v2","options":{}},"id":"webhook-1","name":"Webhook - Document Added","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"document-added-v2"},{"parameters":{"jsCode":"let webhookData = $input.first().json.body || $input.first().json;\n\nif (typeof webhookData === 'string') {\n  webhookData = JSON.parse(webhookData);\n}\n\nconst docUrl = webhookData.doc_url;\nconst title = webhookData.title || webhookData.doc_title || 'Untitled';\n\nif (!docUrl) {\n  throw new Error('No doc_url in webhook payload. Received: ' + JSON.stringify(webhookData));\n}\n\nconst match = docUrl.match(/\\/documents\\/(\\d+)/);\nif (!match) {\n  throw new Error('Could not parse document ID from doc_url: ' + docUrl);\n}\n\nreturn [{ json: { document_id: match[1], title: title, doc_url: docUrl } }];"},"id":"code-parse-url","name":"Parse Document URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"GET","url":"=http://paperless:8000/api/documents/{{ $json.document_id }}/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":30000}},"id":"http-fetch-details","name":"Fetch Document Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300],"credentials":{"httpHeaderAuth":{"id":"4TnejHYwv9j1gXko","name":"Paperless API"}}},{"parameters":{"method":"GET","url":"http://paperless:8000/api/tags/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":30000}},"id":"http-fetch-tags","name":"Fetch All Tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,300],"credentials":{"httpHeaderAuth":{"id":"4TnejHYwv9j1gXko","name":"Paperless API"}}},{"parameters":{"jsCode":"const docNode = $('Fetch Document Details').first().json;\nconst tagsResponse = $input.first().json;\nconst allTags = tagsResponse.results || tagsResponse || [];\n\nconst documentId = docNode.id;\nconst title = docNode.title;\nconst tagIds = docNode.tags || [];\n\nconst tagNames = [];\nfor (const tagId of tagIds) {\n  const tag = allTags.find(t => t.id === tagId);\n  if (tag) tagNames.push(tag.name);\n}\n\nconst systemTags = ['inbox', 'processed', 'pending', 'review', 'archive', 'intake'];\nlet familyId = 'unknown';\nfor (const tagName of tagNames) {\n  if (!systemTags.includes(tagName.toLowerCase())) {\n    familyId = tagName.toLowerCase();\n    break;\n  }\n}\n\nreturn [{ json: {\n  document_id: String(documentId),\n  title: title,\n  family_id: familyId,\n  tag_names: tagNames,\n  download_url: 'http://paperless:8000/api/documents/' + documentId + '/download/'\n}}];"},"id":"code-extract-info","name":"Extract Document Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[1050,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-family-tag","leftValue":"={{ $json.family_id }}","rightValue":"unknown","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"id":"if-has-family","name":"Has Family Tag?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1250,300]},{"parameters":{"jsCode":"const info = $input.first().json;\nthrow new Error('MISSING FAMILY TAG: Document \"' + info.title + '\" (ID: ' + info.document_id + ') has no family tag. Tags found: [' + info.tag_names.join(', ') + ']. Please add a family tag (e.g., morrison, johnson) in Paperless and re-trigger.');"},"id":"code-error-no-family","name":"Error: Missing Family Tag","type":"n8n-nodes-base.code","typeVersion":2,"position":[1450,500]},{"parameters":{"method":"GET","url":"={{ $json.download_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"http-download-pdf","name":"Download PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1450,300],"credentials":{"httpHeaderAuth":{"id":"4TnejHYwv9j1gXko","name":"Paperless API"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:5001/v1/convert/file/async","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"},{"parameterType":"formData","name":"options","value":"{\"do_ocr\": true, \"force_ocr\": false, \"ocr_lang\": \"en\"}"}]},"options":{"timeout":120000}},"id":"http-docling-start","name":"Start Docling Conversion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1650,300]},{"parameters":{"jsCode":"// Extract task_id from Docling response\nconst response = $input.first().json;\nconsole.log('Docling start response:', JSON.stringify(response));\n\nconst taskId = response.task_id || response.id || response.taskId;\n\nif (!taskId) {\n  // Maybe it returned the result directly (sync mode)?\n  if (response.document || response.documents || response.md_content) {\n    // Direct result - skip polling\n    return [{ json: { direct_result: true, result: response } }];\n  }\n  throw new Error('No task_id in Docling response: ' + JSON.stringify(response));\n}\n\nreturn [{ json: { task_id: taskId, poll_count: 0, direct_result: false } }];"},"id":"code-extract-task","name":"Extract Task ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1850,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-direct","leftValue":"={{ $json.direct_result }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"if-direct-result","name":"Direct Result?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2050,300]},{"parameters":{"amount":5,"unit":"seconds"},"id":"wait-poll","name":"Wait 5s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2250,400],"webhookId":"poll-wait-v2"},{"parameters":{"method":"GET","url":"=http://host.docker.internal:5001/v1/status/poll/{{ $json.task_id }}","options":{"timeout":30000,"response":{"response":{"neverError":true}}}},"id":"http-check-status","name":"Check Conversion Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2450,400]},{"parameters":{"jsCode":"const statusResponse = $input.first().json;\nconst prevData = $('Wait 5s').first().json;\nconst taskId = prevData.task_id;\nconst pollCount = (prevData.poll_count || 0) + 1;\n\nconsole.log('Poll #' + pollCount + ' - Response:', JSON.stringify(statusResponse));\n\n// Handle array response\nconst status_obj = Array.isArray(statusResponse) ? statusResponse[0] : statusResponse;\nconst status = (status_obj.task_status || status_obj.status || status_obj.state || 'unknown').toLowerCase();\n\nconsole.log('Status:', status);\n\n// Check if conversion is complete\nif (status === 'success' || status === 'completed' || status === 'done' || status === 'finished') {\n  return [{ json: { task_id: taskId, is_complete: true, poll_count: pollCount } }];\n}\n\n// Check for failure - get error details\nif (status === 'failure' || status === 'failed' || status === 'error') {\n  const errorMsg = status_obj.task_meta || status_obj.error || status_obj.message || 'Unknown error';\n  throw new Error('Docling conversion FAILED: ' + JSON.stringify(errorMsg) + '. Full response: ' + JSON.stringify(status_obj));\n}\n\n// Still processing - check if we've exceeded max polls (60 = 5 minutes)\nif (pollCount >= 60) {\n  throw new Error('Docling conversion timed out after 5 minutes. Last status: ' + JSON.stringify(statusResponse));\n}\n\n// Not complete yet, continue polling\nreturn [{ json: { task_id: taskId, is_complete: false, poll_count: pollCount } }];"},"id":"code-check-complete","name":"Check If Complete","type":"n8n-nodes-base.code","typeVersion":2,"position":[2650,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-complete","leftValue":"={{ $json.is_complete }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"if-complete","name":"Is Complete?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2850,400]},{"parameters":{"method":"GET","url":"=http://host.docker.internal:5001/v1/result/{{ $json.task_id }}","options":{"timeout":60000}},"id":"http-get-result","name":"Get Conversion Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3050,300]},{"parameters":{"jsCode":"// Get result from either direct response or fetched result\nlet doclingResponse;\nconst directCheck = $('Direct Result?');\nif (directCheck && directCheck.first) {\n  const directData = directCheck.first().json;\n  if (directData.direct_result && directData.result) {\n    doclingResponse = directData.result;\n  }\n}\nif (!doclingResponse) {\n  doclingResponse = $input.first().json;\n}\n\nconst extractNode = $('Extract Document Info').first().json;\nconst documentId = extractNode.document_id;\nconst familyId = extractNode.family_id;\nconst title = extractNode.title;\n\nlet markdown = '';\nlet pageData = []; // Array of {page: N, text: '...'} for page tracking\n\nconsole.log('Docling result keys:', Object.keys(doclingResponse));\n\n// Try to extract page-aware content from Docling's structured output\nif (doclingResponse.document) {\n  const doc = doclingResponse.document;\n  // Check for pages array with page info\n  if (doc.pages && Array.isArray(doc.pages)) {\n    doc.pages.forEach((page, idx) => {\n      const pageText = page.text || page.content || page.md_content || '';\n      if (pageText) pageData.push({ page: idx + 1, text: pageText });\n    });\n  }\n  // Check for texts array with page metadata\n  if (doc.texts && Array.isArray(doc.texts)) {\n    doc.texts.forEach(t => {\n      const pageNum = t.page || t.page_number || t.page_no || 1;\n      const text = t.text || t.content || '';\n      if (text) pageData.push({ page: pageNum, text: text });\n    });\n  }\n  markdown = doc.md_content || doc.text_content || doc.markdown || '';\n} else if (doclingResponse.documents && doclingResponse.documents.length > 0) {\n  const doc = doclingResponse.documents[0];\n  if (doc.pages) {\n    doc.pages.forEach((page, idx) => {\n      const pageText = page.text || page.content || '';\n      if (pageText) pageData.push({ page: idx + 1, text: pageText });\n    });\n  }\n  markdown = doc.md_content || doc.text_content || doc.markdown || '';\n} else if (doclingResponse.md_content) {\n  markdown = doclingResponse.md_content;\n} else if (doclingResponse.markdown) {\n  markdown = doclingResponse.markdown;\n} else if (doclingResponse.text) {\n  markdown = doclingResponse.text;\n} else if (doclingResponse.result) {\n  const res = doclingResponse.result;\n  markdown = res.md_content || res.markdown || res.text || '';\n}\n\n// If no page data extracted, try to parse page markers from markdown\nif (pageData.length === 0 && markdown) {\n  // Look for page markers: <!-- Page N -->, [Page N], ---Page N---, \\f (form feed)\n  const pageMarkerRegex = /(?:<!-+\\s*Page\\s*(\\d+)\\s*-+>|\\[Page\\s*(\\d+)\\]|---+\\s*Page\\s*(\\d+)\\s*---+|\\x0c)/gi;\n  const parts = markdown.split(pageMarkerRegex);\n  \n  let currentPage = 1;\n  let currentText = '';\n  \n  for (let i = 0; i < parts.length; i++) {\n    const part = parts[i];\n    if (!part) continue;\n    \n    // Check if this part is a page number\n    const pageNum = parseInt(part, 10);\n    if (!isNaN(pageNum) && pageNum > 0 && pageNum < 1000) {\n      // Save current page text\n      if (currentText.trim()) {\n        pageData.push({ page: currentPage, text: currentText.trim() });\n      }\n      currentPage = pageNum;\n      currentText = '';\n    } else {\n      currentText += part;\n    }\n  }\n  // Don't forget the last page\n  if (currentText.trim()) {\n    pageData.push({ page: currentPage, text: currentText.trim() });\n  }\n}\n\n// If still no page data, estimate pages (~3000 chars per page)\nif (pageData.length === 0 && markdown) {\n  const CHARS_PER_PAGE = 3000;\n  for (let i = 0; i < markdown.length; i += CHARS_PER_PAGE) {\n    const pageNum = Math.floor(i / CHARS_PER_PAGE) + 1;\n    const pageText = markdown.substring(i, i + CHARS_PER_PAGE);\n    pageData.push({ page: pageNum, text: pageText });\n  }\n}\n\nconsole.log('Extracted', pageData.length, 'pages from document');\n\n// Create chunks with proper page numbers\nconst chunks = [];\nlet chunkIndex = 0;\n\nfor (const pageInfo of pageData) {\n  const pageText = pageInfo.text.trim();\n  if (pageText.length < 30) continue;\n  \n  // Split by headers within the page\n  let sections = pageText.split(/(?=^#{1,2} )/gm).filter(s => s.trim().length > 20);\n  if (sections.length === 0) sections = [pageText];\n  \n  for (const section of sections) {\n    const parentText = section.trim();\n    if (parentText.length < 30) continue;\n    \n    const words = parentText.split(/\\s+/);\n    for (let i = 0; i < words.length; i += 80) {\n      const childText = words.slice(i, i + 100).join(' ');\n      if (childText.length < 30) continue;\n      chunks.push({\n        chunk_index: chunkIndex++,\n        document_id: String(documentId),\n        document_title: title,\n        family_id: familyId,\n        text: childText,\n        context_text: parentText.substring(0, 2000),\n        page_num: pageInfo.page\n      });\n    }\n  }\n}\n\n// Fallback if no chunks created\nif (chunks.length === 0) {\n  const fallbackText = pageData.length > 0 ? pageData[0].text : markdown;\n  chunks.push({\n    chunk_index: 0,\n    document_id: String(documentId),\n    document_title: title,\n    family_id: familyId,\n    text: (fallbackText || '').substring(0, 500),\n    context_text: (fallbackText || '').substring(0, 2000),\n    page_num: 1\n  });\n}\n\nconsole.log('Created', chunks.length, 'chunks with family_id:', familyId, 'and page tracking');\nreturn chunks.map(chunk => ({ json: chunk }));"},"id":"code-chunk","name":"Chunk Markdown","type":"n8n-nodes-base.code","typeVersion":2,"position":[3250,300]},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": {{ JSON.stringify($json.text) }}\n}","options":{"timeout":60000}},"id":"http-embed","name":"Embed Chunk","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3450,300]},{"parameters":{"jsCode":"// Simple hash function for BM25 sparse vector generation\nfunction hashCode(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convert to 32-bit integer\n  }\n  return Math.abs(hash);\n}\n\n// Get chunk data from previous node\nconst chunkData = $('Chunk Markdown').item.json;\nconst embedding = $json.embedding;\n\nif (!embedding || !Array.isArray(embedding)) {\n  throw new Error('Failed to get embedding from Ollama. Response: ' + JSON.stringify($json));\n}\n\n// Generate BM25-compatible sparse vector from the chunk text\nconst text = chunkData.text.toLowerCase();\nconst words = text.split(/\\W+/).filter(w => w.length > 2);\nconst wordCounts = {};\nwords.forEach(w => { wordCounts[w] = (wordCounts[w] || 0) + 1; });\n\n// Convert to sparse format: {indices: [], values: []}\nconst indices = [];\nconst values = [];\nObject.entries(wordCounts).forEach(([word, count]) => {\n  indices.push(hashCode(word) % 30000);  // Hash to fixed vocab size\n  values.push(count);\n});\n\n// Create integer point ID: document_id * 10000 + chunk_index\nconst pointId = parseInt(chunkData.document_id) * 10000 + chunkData.chunk_index;\n\nreturn { json: {\n  point_id: pointId,\n  dense_vector: embedding,\n  sparse_vector: { indices: indices, values: values },\n  payload: chunkData\n}};","mode":"runOnceForEachItem"},"id":"code-prepare-qdrant","name":"Prepare Qdrant Payload (Hybrid)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3650,300]},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/mattervault_documents_v2/points","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"points\": [\n    {\n      \"id\": {{ $json.point_id }},\n      \"vector\": {\n        \"dense\": {{ JSON.stringify($json.dense_vector) }},\n        \"bm25\": {{ JSON.stringify($json.sparse_vector) }}\n      },\n      \"payload\": {{ JSON.stringify($json.payload) }}\n    }\n  ]\n}","options":{"timeout":30000}},"id":"http-qdrant","name":"Store in Qdrant V2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3850,300]},{"parameters":{"jsCode":"// Loop back to Wait node with updated poll count\nconst taskId = $json.task_id;\nconst pollCount = $json.poll_count;\nreturn [{ json: { task_id: taskId, poll_count: pollCount } }];"},"id":"code-loop-back","name":"Continue Polling","type":"n8n-nodes-base.code","typeVersion":2,"position":[3050,500]},{"parameters":{"jsCode":"// Direct result path - extract from response\nconst data = $input.first().json;\nreturn [{ json: data.result }];"},"id":"code-direct-result","name":"Use Direct Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2250,200]}],"connections":{"Webhook - Document Added":{"main":[[{"node":"Parse Document URL","type":"main","index":0}]]},"Parse Document URL":{"main":[[{"node":"Fetch Document Details","type":"main","index":0}]]},"Fetch Document Details":{"main":[[{"node":"Fetch All Tags","type":"main","index":0}]]},"Fetch All Tags":{"main":[[{"node":"Extract Document Info","type":"main","index":0}]]},"Extract Document Info":{"main":[[{"node":"Has Family Tag?","type":"main","index":0}]]},"Has Family Tag?":{"main":[[{"node":"Download PDF","type":"main","index":0}],[{"node":"Error: Missing Family Tag","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Start Docling Conversion","type":"main","index":0}]]},"Start Docling Conversion":{"main":[[{"node":"Extract Task ID","type":"main","index":0}]]},"Extract Task ID":{"main":[[{"node":"Direct Result?","type":"main","index":0}]]},"Direct Result?":{"main":[[{"node":"Use Direct Result","type":"main","index":0}],[{"node":"Wait 5s","type":"main","index":0}]]},"Use Direct Result":{"main":[[{"node":"Chunk Markdown","type":"main","index":0}]]},"Wait 5s":{"main":[[{"node":"Check Conversion Status","type":"main","index":0}]]},"Check Conversion Status":{"main":[[{"node":"Check If Complete","type":"main","index":0}]]},"Check If Complete":{"main":[[{"node":"Is Complete?","type":"main","index":0}]]},"Is Complete?":{"main":[[{"node":"Get Conversion Result","type":"main","index":0}],[{"node":"Continue Polling","type":"main","index":0}]]},"Get Conversion Result":{"main":[[{"node":"Chunk Markdown","type":"main","index":0}]]},"Chunk Markdown":{"main":[[{"node":"Embed Chunk","type":"main","index":0}]]},"Embed Chunk":{"main":[[{"node":"Prepare Qdrant Payload (Hybrid)","type":"main","index":0}]]},"Prepare Qdrant Payload (Hybrid)":{"main":[[{"node":"Store in Qdrant V2","type":"main","index":0}]]},"Continue Polling":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"instanceId":"mattervault-ingestion-v2"},"pinData":null,"versionId":"6aecae7d-89c8-42ca-8253-daf8a2bfefd3","activeVersionId":"6aecae7d-89c8-42ca-8253-daf8a2bfefd3","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-28T19:43:54.426Z","createdAt":"2026-01-28T19:43:54.426Z","role":"workflow:owner","workflowId":"ZIhqLsxBzrUam8bi","projectId":"Dv5C9YQYnDRwj1db","project":{"updatedAt":"2026-01-22T13:36:52.732Z","createdAt":"2026-01-21T21:09:23.057Z","id":"Dv5C9YQYnDRwj1db","name":"Trevor Collins <tmcollins4@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"6550758c-677d-4b96-b6c6-e38c49125378"}}]}]