mattervault/n8n-workflows/document-reconciliation.json
{"updatedAt": "2026-02-02T17:32:10.893Z", "createdAt": "2026-02-02T17:31:47.798Z", "id": "qmC66Y7q2qYPOfN6", "name": "Document Reconciliation (Sync)", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 15}]}}, "id": "schedule-trigger", "name": "Every 15 Minutes", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [256, 304]}, {"parameters": {"httpMethod": "POST", "path": "document-reconciliation", "options": {}}, "id": "webhook-trigger", "name": "Manual Trigger (Webhook)", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [256, 496], "webhookId": "document-reconciliation"}, {"parameters": {"operation": "executeQuery", "query": "SELECT sync.start_reconciliation('incremental') as run_id, sync.get_last_high_water_mark() as last_hwm", "options": {}}, "id": "db-start-run", "name": "Start Reconciliation Run", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [480, 400], "credentials": {"postgres": {"id": "6MSod6gvBoneThu4", "name": "ChatUI Database"}}}, {"parameters": {"jsCode": "const result = $input.first().json;\nconst runId = result.run_id;\nconst lastHwm = result.last_hwm;\n\n// Calculate cutoff: use high water mark or fallback to 2 hours ago\nconst fallbackHours = 2;\nlet cutoff;\nif (lastHwm) {\n  cutoff = lastHwm;\n} else {\n  const d = new Date();\n  d.setHours(d.getHours() - fallbackHours);\n  cutoff = d.toISOString();\n}\n\nconsole.log('Run ID:', runId);\nconsole.log('Last HWM:', lastHwm);\nconsole.log('Using cutoff:', cutoff);\n\nreturn [{ json: { run_id: runId, cutoff: cutoff, start_time: new Date().toISOString() } }];"}, "id": "code-prepare", "name": "Prepare Reconciliation", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [704, 400]}, {"parameters": {"url": "={{ $env.PAPERLESS_INTERNAL_URL || 'http://mattervault:8000' }}/api/documents/?page_size=1000&ordering=-modified", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {"timeout": 60000}}, "id": "http-paperless-docs", "name": "Fetch All Paperless Documents", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [752, 200], "credentials": {"httpHeaderAuth": {"id": "4TnejHYwv9j1gXko", "name": "Paperless API"}}}, {"parameters": {"method": "POST", "url": "={{ $env.QDRANT_URL || 'http://mattermemory:6333' }}/collections/{{ $env.QDRANT_COLLECTION || 'mattervault_documents' }}/points/scroll", "sendBody": true, "specifyBody": "json", "jsonBody": "{\n  \"limit\": 10000,\n  \"with_payload\": [\"document_id\", \"family_id\"],\n  \"with_vector\": false\n}", "options": {"timeout": 60000}}, "id": "http-qdrant-docs", "name": "Fetch All Qdrant Documents", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [752, 600]}, {"parameters": {"jsCode": "// Get data from each step in the chain\n// Each HTTP node passes through its response, and we can access prior nodes via $()\nconst prepData = $('Prepare Reconciliation').first().json;\nconst paperlessResponse = $('Fetch All Paperless Documents').first().json;\nconst tagsResponse = $('Fetch All Tags').first().json;\nconst qdrantResponse = $('Fetch All Qdrant Documents').first().json;\n\n// Build tag ID \u2192 name mapping\nconst tagMap = {};\n(tagsResponse.results || []).forEach(t => {\n  tagMap[t.id] = t.name.toLowerCase();\n});\n\n// System tags to exclude when determining family\nconst SYSTEM_TAGS = ['inbox', 'intake', 'processed', 'processing', 'error', 'pending', 'ai_ready', 'ingestion_error'];\n\n// Extract Paperless documents with their family (first non-system tag)\nconst paperlessDocs = (paperlessResponse.results || []).map(d => {\n  const familyTag = (d.tags || []).map(tid => tagMap[tid]).filter(t => t && !SYSTEM_TAGS.includes(t))[0] || null;\n  return {\n    id: String(d.id),\n    title: d.title,\n    modified: d.modified,\n    family_id: familyTag\n  };\n});\nconst paperlessIds = new Set(paperlessDocs.map(d => d.id));\nconst paperlessFamilyMap = {};\npaperlessDocs.forEach(d => { paperlessFamilyMap[d.id] = d.family_id; });\n\n// Extract unique document IDs and family_ids from Qdrant\nconst qdrantPoints = qdrantResponse.result?.points || [];\nconst qdrantDocIds = new Set();\nconst qdrantFamilyMap = {};\nqdrantPoints.forEach(p => {\n  if (p.payload?.document_id) {\n    const docId = String(p.payload.document_id);\n    qdrantDocIds.add(docId);\n    if (!qdrantFamilyMap[docId]) {\n      qdrantFamilyMap[docId] = p.payload.family_id || null;\n    }\n  }\n});\n\nconsole.log('Paperless docs:', paperlessIds.size);\nconsole.log('Qdrant doc IDs:', qdrantDocIds.size);\n\n// Find orphans (in Qdrant but not in Paperless)\nconst orphans = [];\nqdrantDocIds.forEach(id => {\n  if (!paperlessIds.has(id)) {\n    orphans.push({ document_id: id, action: 'delete' });\n  }\n});\n\n// Find missing (in Paperless but not in Qdrant)\nconst missing = [];\npaperlessDocs.forEach(doc => {\n  if (!qdrantDocIds.has(doc.id)) {\n    missing.push({ document_id: doc.id, title: doc.title, action: 'ingest' });\n  }\n});\n\n// Find family_id mismatches (in both, but family_id differs)\nconst mismatches = [];\nqdrantDocIds.forEach(docId => {\n  if (paperlessIds.has(docId)) {\n    const expectedFamily = paperlessFamilyMap[docId];\n    const actualFamily = qdrantFamilyMap[docId];\n    if (expectedFamily && actualFamily && expectedFamily !== actualFamily) {\n      const doc = paperlessDocs.find(d => d.id === docId);\n      mismatches.push({\n        document_id: docId,\n        old_family_id: actualFamily,\n        new_family_id: expectedFamily,\n        title: doc?.title || 'Unknown'\n      });\n    }\n  }\n});\n\nconsole.log('Orphans to delete:', orphans.length);\nconsole.log('Missing to ingest:', missing.length);\nconsole.log('Family mismatches:', mismatches.length);\n\nreturn [{ json: {\n  run_id: prepData.run_id,\n  start_time: prepData.start_time,\n  paperless_count: paperlessIds.size,\n  qdrant_count: qdrantDocIds.size,\n  orphans: orphans,\n  missing: missing,\n  mismatches: mismatches\n}}];"}, "id": "code-compare", "name": "Compare Document Sets", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1352, 400]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "has-orphans", "leftValue": "={{ $json.orphans.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}], "combinator": "and"}, "options": {}}, "id": "if-has-orphans", "name": "Has Orphans?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1376, 280]}, {"parameters": {"jsCode": "const data = $input.first().json;\nreturn data.orphans.map(o => ({ json: { ...o, run_id: data.run_id } }));"}, "id": "code-split-orphans", "name": "Split Orphans", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1600, 208]}, {"parameters": {"method": "POST", "url": "={{ $env.QDRANT_URL || 'http://mattermemory:6333' }}/collections/{{ $env.QDRANT_COLLECTION || 'mattervault_documents' }}/points/delete", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"filter\": {\n    \"must\": [{ \"key\": \"document_id\", \"match\": { \"value\": \"{{ $json.document_id }}\" } }]\n  }\n}", "options": {"timeout": 30000}}, "id": "http-delete-orphan", "name": "Delete Orphan from Qdrant", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1824, 208]}, {"parameters": {"operation": "executeQuery", "query": "=INSERT INTO sync.reconciliation_log (run_id, operation, document_id, status) VALUES ({{ $json.run_id }}, 'delete', '{{ $json.document_id }}', 'success')", "options": {}}, "id": "db-log-delete", "name": "Log Delete", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2048, 208], "credentials": {"postgres": {"id": "6MSod6gvBoneThu4", "name": "ChatUI Database"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "has-missing", "leftValue": "={{ $json.missing.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}], "combinator": "and"}, "options": {}}, "id": "if-has-missing", "name": "Has Missing?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1376, 520]}, {"parameters": {"jsCode": "const data = $input.first().json;\nreturn data.missing.map(m => ({ json: { ...m, run_id: data.run_id } }));"}, "id": "code-split-missing", "name": "Split Missing", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1600, 592]}, {"parameters": {"method": "POST", "url": "={{ $env.N8N_INTERNAL_URL || 'http://matterlogic:5678' }}/webhook/document-added", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"doc_url\": \"{{ $env.PAPERLESS_INTERNAL_URL || 'http://mattervault:8000' }}/api/documents/{{ $json.document_id }}/\",\n  \"title\": {{ JSON.stringify($json.title || 'Untitled') }}\n}", "options": {"timeout": 300000}}, "id": "http-trigger-ingest", "name": "Trigger Ingestion", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1824, 592]}, {"parameters": {"operation": "executeQuery", "query": "=INSERT INTO sync.reconciliation_log (run_id, operation, document_id, document_title, status) VALUES ({{ $json.run_id }}, 'ingest', '{{ $json.document_id }}', {{ $json.title ? \"'\" + $json.title.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, 'success')", "options": {}}, "id": "db-log-ingest", "name": "Log Ingest", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2048, 592], "credentials": {"postgres": {"id": "6MSod6gvBoneThu4", "name": "ChatUI Database"}}}, {"parameters": {"jsCode": "// Merge results from all branches\nconst compareData = $('Compare Document Sets').first().json;\nconst runId = compareData.run_id;\nconst startTime = compareData.start_time;\nconst orphanCount = compareData.orphans.length;\nconst missingCount = compareData.missing.length;\nconst mismatchCount = compareData.mismatches.length;\nconst totalChecked = compareData.paperless_count;\n\nreturn [{ json: {\n  run_id: runId,\n  start_time: startTime,\n  documents_checked: totalChecked,\n  documents_deleted: orphanCount,\n  documents_ingested: missingCount,\n  documents_family_updated: mismatchCount\n}}];"}, "id": "code-aggregate", "name": "Aggregate Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2272, 400]}, {"parameters": {"operation": "executeQuery", "query": "=SELECT sync.complete_reconciliation({{ $json.run_id }}, 'success', '{{ $json.start_time }}'::timestamptz, {{ $json.documents_checked }}, {{ $json.documents_deleted }}, {{ $json.documents_ingested }}, NULL, {{ $json.documents_family_updated }})", "options": {}}, "id": "db-complete-run", "name": "Complete Run", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2496, 400], "credentials": {"postgres": {"id": "6MSod6gvBoneThu4", "name": "ChatUI Database"}}}, {"parameters": {"url": "={{ $env.PAPERLESS_INTERNAL_URL || 'http://mattervault:8000' }}/api/tags/?page_size=500", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {"timeout": 30000}}, "id": "http-fetch-tags", "name": "Fetch All Tags", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [752, 400], "credentials": {"httpHeaderAuth": {"id": "4TnejHYwv9j1gXko", "name": "Paperless API"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "has-mismatches", "leftValue": "={{ $json.mismatches.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}], "combinator": "and"}, "options": {}}, "id": "if-has-mismatches", "name": "Has Mismatches?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1376, 760]}, {"parameters": {"jsCode": "const data = $input.first().json;\nreturn data.mismatches.map(m => ({ json: { ...m, run_id: data.run_id } }));"}, "id": "code-split-mismatches", "name": "Split Mismatches", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1600, 760]}, {"parameters": {"method": "POST", "url": "={{ $env.QDRANT_URL || 'http://mattermemory:6333' }}/collections/{{ $env.QDRANT_COLLECTION || 'mattervault_documents' }}/points/payload", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"payload\": {\"family_id\": \"{{ $json.new_family_id }}\"},\n  \"filter\": {\n    \"must\": [{ \"key\": \"document_id\", \"match\": { \"value\": \"{{ $json.document_id }}\" } }]\n  }\n}", "options": {"timeout": 30000}}, "id": "http-update-qdrant-family", "name": "Update Qdrant Family ID", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1824, 760]}, {"parameters": {"operation": "executeQuery", "query": "=UPDATE conversations SET family_id = '{{ $json.new_family_id.replace(/'/g, \"''\") }}' WHERE family_id = '{{ $json.old_family_id.replace(/'/g, \"''\") }}'", "options": {}}, "id": "db-update-chatui-family", "name": "Update ChatUI Family ID", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2048, 760], "credentials": {"postgres": {"id": "6MSod6gvBoneThu4", "name": "ChatUI Database"}}}, {"parameters": {"operation": "executeQuery", "query": "=INSERT INTO sync.reconciliation_log (run_id, operation, document_id, document_title, family_id, status) VALUES ({{ $json.run_id }}, 'update_family', '{{ $json.document_id }}', {{ $json.title ? \"'\" + $json.title.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, '{{ $json.new_family_id.replace(/'/g, \"''\") }}', 'success')", "options": {}}, "id": "db-log-family-update", "name": "Log Family Update", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2272, 760], "credentials": {"postgres": {"id": "6MSod6gvBoneThu4", "name": "ChatUI Database"}}}], "connections": {"Every 15 Minutes": {"main": [[{"node": "Start Reconciliation Run", "type": "main", "index": 0}]]}, "Manual Trigger (Webhook)": {"main": [[{"node": "Start Reconciliation Run", "type": "main", "index": 0}]]}, "Start Reconciliation Run": {"main": [[{"node": "Prepare Reconciliation", "type": "main", "index": 0}]]}, "Prepare Reconciliation": {"main": [[{"node": "Fetch All Paperless Documents", "type": "main", "index": 0}]]}, "Fetch All Paperless Documents": {"main": [[{"node": "Fetch All Tags", "type": "main", "index": 0}]]}, "Fetch All Qdrant Documents": {"main": [[{"node": "Compare Document Sets", "type": "main", "index": 0}]]}, "Compare Document Sets": {"main": [[{"node": "Has Orphans?", "type": "main", "index": 0}, {"node": "Has Missing?", "type": "main", "index": 0}, {"node": "Has Mismatches?", "type": "main", "index": 0}]]}, "Has Orphans?": {"main": [[{"node": "Split Orphans", "type": "main", "index": 0}], [{"node": "Aggregate Results", "type": "main", "index": 0}]]}, "Split Orphans": {"main": [[{"node": "Delete Orphan from Qdrant", "type": "main", "index": 0}]]}, "Delete Orphan from Qdrant": {"main": [[{"node": "Log Delete", "type": "main", "index": 0}]]}, "Has Missing?": {"main": [[{"node": "Split Missing", "type": "main", "index": 0}], [{"node": "Aggregate Results", "type": "main", "index": 0}]]}, "Split Missing": {"main": [[{"node": "Trigger Ingestion", "type": "main", "index": 0}]]}, "Trigger Ingestion": {"main": [[{"node": "Log Ingest", "type": "main", "index": 0}]]}, "Log Delete": {"main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]}, "Log Ingest": {"main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]}, "Aggregate Results": {"main": [[{"node": "Complete Run", "type": "main", "index": 0}]]}, "Fetch All Tags": {"main": [[{"node": "Fetch All Qdrant Documents", "type": "main", "index": 0}]]}, "Has Mismatches?": {"main": [[{"node": "Split Mismatches", "type": "main", "index": 0}], [{"node": "Aggregate Results", "type": "main", "index": 0}]]}, "Split Mismatches": {"main": [[{"node": "Update Qdrant Family ID", "type": "main", "index": 0}]]}, "Update Qdrant Family ID": {"main": [[{"node": "Update ChatUI Family ID", "type": "main", "index": 0}]]}, "Update ChatUI Family ID": {"main": [[{"node": "Log Family Update", "type": "main", "index": 0}]]}, "Log Family Update": {"main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "maxRunTime": 900, "maxConcurrency": 1}, "staticData": {"node:Every 15 Minutes": {"recurrenceRules": []}}, "meta": null, "pinData": {}, "versionId": "81c8d8dd-7f37-4d72-9f57-e4980e43798a", "activeVersionId": "81c8d8dd-7f37-4d72-9f57-e4980e43798a", "versionCounter": 5, "triggerCount": 2, "tags": [], "shared": [{"updatedAt": "2026-02-02T17:31:47.798Z", "createdAt": "2026-02-02T17:31:47.798Z", "role": "workflow:owner", "workflowId": "qmC66Y7q2qYPOfN6", "projectId": "Dv5C9YQYnDRwj1db", "project": {"updatedAt": "2026-01-22T13:36:52.732Z", "createdAt": "2026-01-21T21:09:23.057Z", "id": "Dv5C9YQYnDRwj1db", "name": "Trevor Collins <tmcollins4@pm.me>", "type": "personal", "icon": null, "description": null, "creatorId": "6550758c-677d-4b96-b6c6-e38c49125378"}}]}