mattervault/n8n-workflows/mattervault-chat-v4-simplified.json
{
  "name": "Mattervault Chat V4 (Simplified)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-api-v3",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-api",
      "name": "API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400],
      "webhookId": "chat-api-v3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"config\": {\n    \"RERANKER_MODEL\": \"llama3.1:8b\",\n    \"CHAT_MODEL\": \"llama3.1:8b\",\n    \"EMBEDDING_MODEL\": \"nomic-embed-text\",\n    \"OLLAMA_URL\": \"http://host.docker.internal:11434\",\n    \"QDRANT_URL\": \"http://qdrant:6333\",\n    \"RERANKER_TOP_K\": 5,\n    \"RERANKER_MIN_SCORE\": 3.0\n  },\n  \"request\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "config-node",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [300, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract request data and merge with config\nconst input = $input.first().json;\nconst config = input.config;\nconst data = input.request?.body || input.request || {};\n\nconst question = data.question || data.chatInput || '';\nconst familyId = data.family_id;\nconst sessionId = data.session_id || `session-${Date.now()}`;\nconst chatHistory = data.chat_history || [];\n\nif (!question) {\n  throw new Error('No question provided');\n}\n\nif (!familyId) {\n  throw new Error('No family_id provided - please select a family first');\n}\n\nreturn [{\n  json: {\n    config: config,\n    question: question,\n    family_id: familyId,\n    session_id: sessionId,\n    chat_history: chatHistory\n  }\n}];"
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.OLLAMA_URL }}/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.config.EMBEDDING_MODEL }}\",\n  \"prompt\": \"{{ $json.question }}\"\n}",
        "options": {"timeout": 60000}
      },
      "id": "embed-question",
      "name": "Embed Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "// Generate sparse vector for BM25\nfunction hashCode(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash);\n}\n\nconst inputData = $('Extract Input').first().json;\nconst embedding = $input.first().json.embedding;\n\nconst words = inputData.question.toLowerCase().split(/\\W+/).filter(w => w.length > 2);\nconst wordCounts = {};\nwords.forEach(w => { wordCounts[w] = (wordCounts[w] || 0) + 1; });\n\nconst indices = [], values = [];\nObject.entries(wordCounts).forEach(([word, count]) => {\n  indices.push(hashCode(word) % 30000);\n  values.push(count);\n});\n\nreturn [{ json: {\n  config: inputData.config,\n  question: inputData.question,\n  family_id: inputData.family_id,\n  session_id: inputData.session_id,\n  chat_history: inputData.chat_history || [],\n  dense_vector: embedding,\n  sparse_vector: { indices, values }\n}}];"
      },
      "id": "prepare-vectors",
      "name": "Prepare Vectors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.QDRANT_URL }}/collections/mattervault_documents_v2/points/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prefetch\": [\n    {\n      \"query\": {{ JSON.stringify($json.dense_vector) }},\n      \"using\": \"dense\",\n      \"limit\": 25,\n      \"filter\": {\"must\": [{\"key\": \"family_id\", \"match\": {\"value\": \"{{ $json.family_id }}\"}}]}\n    },\n    {\n      \"query\": {{ JSON.stringify($json.sparse_vector) }},\n      \"using\": \"bm25\",\n      \"limit\": 25,\n      \"filter\": {\"must\": [{\"key\": \"family_id\", \"match\": {\"value\": \"{{ $json.family_id }}\"}}]}\n    }\n  ],\n  \"query\": {\"fusion\": \"rrf\"},\n  \"limit\": 25,\n  \"with_payload\": true\n}",
        "options": {"timeout": 30000}
      },
      "id": "hybrid-search",
      "name": "Hybrid Search (RRF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Prepare Vectors').first().json;\nconst searchResponse = $input.first().json;\nconst results = searchResponse.result?.points || [];\n\nreturn [{ json: {\n  config: prevData.config,\n  question: prevData.question,\n  family_id: prevData.family_id,\n  session_id: prevData.session_id,\n  chat_history: prevData.chat_history || [],\n  result: results,\n  result_count: results.length\n}}];"
      },
      "id": "merge-results",
      "name": "Merge Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "has-results", "leftValue": "={{ $json.result_count }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "jsCode": "const familyId = $input.first().json.family_id;\nconst familyName = familyId.charAt(0).toUpperCase() + familyId.slice(1);\nreturn [{ json: {\n  output: `I couldn't find any relevant documents for your question in the ${familyName} family files. Please make sure documents have been indexed for this family, or try rephrasing your question.`\n}}];"
      },
      "id": "no-results",
      "name": "No Results Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 600]
    },
    {
      "parameters": {
        "jsCode": "// Keyword boosting to get top candidates for reranking\nconst inputData = $input.first().json;\nconst question = inputData.question.toLowerCase();\nconst familyId = inputData.family_id;\nconst results = inputData.result || [];\n\nconst questionWords = question.split(/\\W+/).filter(w => w.length > 3);\n\nconst scored = results.map(result => {\n  const text = (result.payload.text || '').toLowerCase();\n  const contextText = (result.payload.context_text || '').toLowerCase();\n  const docTitle = (result.payload.document_title || '').toLowerCase();\n\n  let keywordScore = 0;\n  for (const word of questionWords) {\n    if (text.includes(word)) keywordScore += 0.2;\n    if (contextText.includes(word)) keywordScore += 0.1;\n    if (docTitle.includes(word)) keywordScore += 0.1;\n  }\n  keywordScore += result.score * 0.1;\n\n  return {\n    id: result.id,\n    rrf_score: result.score,\n    keyword_score: keywordScore,\n    title: result.payload.document_title || 'Unknown',\n    text: result.payload.text || '',\n    context_text: result.payload.context_text || '',\n    page_num: result.payload.page_num || 1,\n    payload: result.payload\n  };\n});\n\nconst candidates = scored\n  .sort((a, b) => b.keyword_score - a.keyword_score)\n  .slice(0, 10);\n\nreturn [{ json: {\n  config: inputData.config,\n  question: inputData.question,\n  family_id: familyId,\n  chat_history: inputData.chat_history || [],\n  candidates: candidates\n}}];"
      },
      "id": "keyword-prefilter",
      "name": "Keyword Pre-Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "jsCode": "// Pointwise 0-10 Reranker with Parallel Processing\n// Uses a chat model to score document relevance on a 0-10 scale\n\nconst inputData = $input.first().json;\nconst { config, question, candidates, family_id, chat_history } = inputData;\n\nif (!candidates || candidates.length === 0) {\n  return [{ json: { config, question, family_id, chat_history: chat_history || [], top_results: [] }}];\n}\n\n// Get config values\nconst MODEL_NAME = config.RERANKER_MODEL;\nconst OLLAMA_URL = config.OLLAMA_URL;\nconst TOP_K = config.RERANKER_TOP_K || 5;\n\n// Bind HTTP helper for use in async operations\nconst httpRequest = this.helpers.httpRequest.bind(this.helpers);\n\n// Parallel scoring - all candidates scored concurrently\nconst scorePromises = candidates.map(async (doc) => {\n  // Truncate text to ~800 chars to speed up LLM processing\n  const textPreview = (doc.text || '').substring(0, 800).replace(/\\n/g, ' ');\n  \n  // Pointwise scoring prompt - asks for 0-10 score instead of Yes/No\n  const prompt = `Task: Rate the relevance of the following document to the query on a scale of 0.0 to 10.0.\n\nQuery: \"${question}\"\n\nDocument: \"...${textPreview}...\"\n\nScoring Criteria:\n- 10: Contains the exact answer/fact requested.\n- 5-9: Discusses the topic closely but might miss specific details.\n- 0-4: Tangentially related or irrelevant.\n\nOutput: Return ONLY the number (e.g., 8.5). No explanation.`;\n\n  try {\n    const response = await httpRequest({\n      method: 'POST',\n      url: `${OLLAMA_URL}/api/chat`,\n      body: {\n        model: MODEL_NAME,\n        messages: [{ role: 'user', content: prompt }],\n        stream: false,\n        options: { temperature: 0, num_predict: 10 }\n      },\n      json: true\n    });\n\n    // Parse the numeric score from response\n    const content = response?.message?.content || '0';\n    const match = content.match(/[\\d]+(\\.[\\ d]+)?/);\n    const score = match ? parseFloat(match[0]) : 0;\n\n    return {\n      ...doc,\n      reranker_score: score,\n      // Weighted: 90% AI score, 10% keyword score\n      final_score: (score * 0.9) + ((doc.keyword_score || 0) * 0.1)\n    };\n\n  } catch (error) {\n    // Fallback on error - use keyword score only\n    return {\n      ...doc,\n      reranker_score: 0,\n      final_score: (doc.keyword_score || 0),\n      error: error.message\n    };\n  }\n});\n\n// Wait for all scoring to complete\nconst results = await Promise.all(scorePromises);\n\n// Sort by final score and take top K\nconst topResults = results\n  .sort((a, b) => b.final_score - a.final_score)\n  .slice(0, TOP_K);\n\nreturn [{ json: {\n  config,\n  question,\n  family_id,\n  chat_history: chat_history || [],\n  top_results: topResults\n}}];"
      },
      "id": "rerank-with-llm",
      "name": "LLM Reranker (0-10)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 400]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst config = inputData.config;\nconst question = inputData.question;\nconst results = inputData.top_results;\nconst chatHistory = inputData.chat_history || [];\n\n// Build context with clean source format\nconst contextBlocks = results.map((r, i) => {\n  const docTitle = r.title || 'Unknown Document';\n  const pageNum = r.page_num || 1;\n  const contextText = r.context_text || r.text || '';\n  \n  return `--- Source: ${docTitle}, Page ${pageNum} ---\\n${contextText}`;\n}).join('\\n\\n');\n\nconst systemPrompt = `You are Mattervault, an expert legal analyst and estate planning assistant.\n\nCRITICAL RULES:\n1. Answer ONLY based on the provided Context documents below\n2. If the answer is not in the context, say \"I don't have information about that in the provided documents\"\n3. NEVER make up legal facts or information\n4. For EVERY fact you state, cite the source using this EXACT format: (Source: [Document Title], Page [N])\n5. Be concise but thorough\n6. Do NOT use numbered source references like \"Source 1\" - always use the full document name\n7. You may reference previous conversation for context, but all facts MUST come from the documents`;\n\n// Build messages array with chat history\nconst messages = [\n  { role: 'system', content: systemPrompt }\n];\n\n// Add chat history (previous Q&A pairs)\nfor (const msg of chatHistory) {\n  messages.push({\n    role: msg.role === 'assistant' ? 'assistant' : 'user',\n    content: msg.content\n  });\n}\n\n// Add current user question with document context\nconst userPrompt = `Context Documents:\\n${contextBlocks}\\n\\n---\\n\\nQuestion: ${question}\\n\\nAnswer based ONLY on the context documents above. Cite each fact with (Source: [Document Title], Page [N]).`;\nmessages.push({ role: 'user', content: userPrompt });\n\nreturn [{\n  json: {\n    config: config,\n    messages: messages,\n    sources: results.map(r => ({\n      title: r.title || 'Unknown',\n      page: r.page_num || 1,\n      document_id: r.payload?.document_id || null\n    }))\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.OLLAMA_URL }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.config.CHAT_MODEL }}\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.1\n  }\n}",
        "options": {"timeout": 120000}
      },
      "id": "generate-answer",
      "name": "Generate Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 400]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst promptData = $('Build LLM Prompt').first().json;\nconst sources = promptData.sources;\n\nlet answer = '';\nif (response.message && response.message.content) {\n  answer = response.message.content;\n} else if (response.response) {\n  answer = response.response;\n} else {\n  answer = 'I encountered an issue generating a response. Please try again.';\n}\n\n// Deduplicate sources by title+page\nconst seen = new Set();\nconst uniqueSources = sources.filter(s => {\n  const key = `${s.title}-${s.page}`;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst sourcesList = uniqueSources.map(s => `- ${s.title}, Page ${s.page}`).join('\\n');\n\n// Build citations array with document IDs for UI\nconst citations = uniqueSources.map(s => ({\n  source: s.title,\n  page: s.page,\n  document_id: s.document_id\n}));\n\nreturn [{ json: {\n  output: answer + '\\n\\n---\\n**Sources consulted:**\\n' + sourcesList,\n  citations: citations\n}}];"
      },
      "id": "format-output",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 400]
    }
  ],
  "connections": {
    "API Webhook": {"main": [[{"node": "Config", "type": "main", "index": 0}]]},
    "Config": {"main": [[{"node": "Extract Input", "type": "main", "index": 0}]]},
    "Extract Input": {"main": [[{"node": "Embed Question", "type": "main", "index": 0}]]},
    "Embed Question": {"main": [[{"node": "Prepare Vectors", "type": "main", "index": 0}]]},
    "Prepare Vectors": {"main": [[{"node": "Hybrid Search (RRF)", "type": "main", "index": 0}]]},
    "Hybrid Search (RRF)": {"main": [[{"node": "Merge Search Results", "type": "main", "index": 0}]]},
    "Merge Search Results": {"main": [[{"node": "Has Results?", "type": "main", "index": 0}]]},
    "Has Results?": {"main": [[{"node": "Keyword Pre-Filter", "type": "main", "index": 0}], [{"node": "No Results Response", "type": "main", "index": 0}]]},
    "Keyword Pre-Filter": {"main": [[{"node": "LLM Reranker (0-10)", "type": "main", "index": 0}]]},
    "LLM Reranker (0-10)": {"main": [[{"node": "Build LLM Prompt", "type": "main", "index": 0}]]},
    "Build LLM Prompt": {"main": [[{"node": "Generate Answer", "type": "main", "index": 0}]]},
    "Generate Answer": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
