mattervault/n8n-workflows/mattervault-chat-v5.json
[{"updatedAt":"2026-01-29T18:46:54.234Z","createdAt":"2026-01-28T19:42:04.940Z","id":"wHoLnYdlFJoaHfDZ","name":"Mattervault Chat V5 (With Persistence)","description":"Complete chat workflow with conversation persistence, message history, and audit logging. Chat-UI becomes a thin presentation layer.","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat-api-v3","responseMode":"lastNode","options":{}},"id":"webhook-api","name":"API Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,400],"webhookId":"chat-api-v3"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"config\": {\n    \"RERANKER_MODEL\": \"{{ $env.OLLAMA_RERANKER_MODEL || 'llama3.1:8b' }}\",\n    \"CHAT_MODEL\": \"{{ $env.OLLAMA_CHAT_MODEL || 'llama3.1:8b' }}\",\n    \"EMBEDDING_MODEL\": \"{{ $env.OLLAMA_EMBEDDING_MODEL || 'bge-m3' }}\",\n    \"OLLAMA_URL\": \"{{ $env.OLLAMA_URL || 'http://host.docker.internal:11434' }}\",\n    \"QDRANT_URL\": \"{{ $env.QDRANT_URL || 'http://mattermemory:6333' }}\",\n    \"QDRANT_COLLECTION\": \"{{ $env.QDRANT_COLLECTION || 'mattervault_documents_v3' }}\",\n    \"PREFILTER_TOP_K\": 25,\n    \"RERANKER_TOP_K\": 15,\n    \"RERANKER_MIN_SCORE\": 2.0\n  },\n  \"request\": {{ JSON.stringify($json) }}\n}","options":{}},"id":"config-node","name":"Config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,400]},{"parameters":{"jsCode":"// Extract request data and merge with config\nconst input = $input.first().json;\nconst config = input.config;\nconst data = input.request?.body || input.request || {};\n\n// UUID v4 generator (n8n Code node sandbox doesn't have crypto global)\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst question = data.question || data.chatInput || '';\nconst familyId = data.family_id;\nconst userId = data.user_id;\nconst paperlessUsername = data.paperless_username;\nconst conversationId = data.conversation_id || null;\nconst correlationId = data.correlation_id || generateUUID();\nconst clientIp = data.client_ip || null;\nconst userAgent = data.user_agent || null;\n\nif (!question) {\n  throw new Error('No question provided');\n}\n\nif (!familyId) {\n  throw new Error('No family_id provided - please select a family first');\n}\n\nif (!userId) {\n  throw new Error('No user_id provided');\n}\n\n// Generate title from question for new conversations\nconst title = question.length > 50 ? question.substring(0, 50) + '...' : question;\n\nreturn [{\n  json: {\n    config,\n    question,\n    family_id: familyId,\n    user_id: userId,\n    paperless_username: paperlessUsername,\n    conversation_id: conversationId,\n    correlation_id: correlationId,\n    client_ip: clientIp,\n    user_agent: userAgent,\n    conversation_title: title,\n    request_start_time: Date.now()\n  }\n}];"},"id":"extract-input","name":"Extract Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,400]},{"parameters":{"operation":"executeQuery","query":"=-- Get or create conversation\nWITH existing AS (\n  SELECT id, title FROM conversations \n  WHERE {{ $json.conversation_id ? \"id = '\" + $json.conversation_id + \"'\" : \"FALSE\" }}\n  AND user_id = '{{ $json.user_id }}'\n),\ninserted AS (\n  INSERT INTO conversations (user_id, family_id, title)\n  SELECT '{{ $json.user_id }}', '{{ $json.family_id }}', '{{ $json.conversation_title.replace(/'/g, \"''\") }}'\n  WHERE NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id, title\n)\nSELECT id, title, 'existing' as source FROM existing\nUNION ALL\nSELECT id, title, 'new' as source FROM inserted;","options":{}},"id":"get-create-conversation","name":"Get/Create Conversation","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[700,400],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Merge conversation ID back into data\nconst inputData = $('Extract Input').first().json;\nconst convResult = $input.first().json;\n\nreturn [{\n  json: {\n    ...inputData,\n    conversation_id: convResult.id,\n    is_new_conversation: convResult.source === 'new'\n  }\n}];"},"id":"merge-conversation","name":"Merge Conversation ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400]},{"parameters":{"operation":"executeQuery","query":"=-- Save user message\nINSERT INTO messages (conversation_id, role, content)\nVALUES ('{{ $json.conversation_id }}', 'user', '{{ $json.question.replace(/'/g, \"''\") }}')\nRETURNING id;","options":{}},"id":"save-user-message","name":"Save User Message","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1100,400],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Get chat history for context\nconst inputData = $('Merge Conversation ID').first().json;\nconst userMsgResult = $input.first().json;\n\nreturn [{\n  json: {\n    ...inputData,\n    user_message_id: userMsgResult.id\n  }\n}];"},"id":"after-user-save","name":"After User Save","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,400]},{"parameters":{"operation":"executeQuery","query":"=-- Get recent chat history (last 10 messages before current)\n-- Returns exactly one row with JSON array (empty array if no history)\nSELECT COALESCE(json_agg(row_to_json(t) ORDER BY t.created_at ASC), '[]'::json) as history\nFROM (\n  SELECT role, content, created_at FROM messages\n  WHERE conversation_id = '{{ $json.conversation_id }}'\n  ORDER BY created_at DESC\n  LIMIT 10 OFFSET 1\n) t;","options":{}},"id":"get-chat-history","name":"Get Chat History","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1500,400],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Format chat history and prepare for RAG\nconst inputData = $('After User Save').first().json;\nconst historyResult = $input.first().json;\n\n// Parse the JSON array from the Postgres query\n// The query returns: { history: [{role, content}, ...] } or { history: [] }\nlet chatHistory = [];\nif (historyResult && historyResult.history) {\n  chatHistory = Array.isArray(historyResult.history) \n    ? historyResult.history.map(row => ({ role: row.role, content: row.content }))\n    : [];\n}\n\nreturn [{\n  json: {\n    ...inputData,\n    chat_history: chatHistory\n  }\n}];"},"id":"format-history","name":"Format History","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,400]},{"parameters":{"method":"POST","url":"={{ $json.config.OLLAMA_URL }}/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"{{ $json.config.EMBEDDING_MODEL }}\",\n  \"prompt\": {{ JSON.stringify($json.question) }}\n}","options":{"timeout":60000}},"id":"embed-question","name":"Embed Question","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,400]},{"parameters":{"jsCode":"// Generate sparse vector for BM25\nfunction hashCode(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash);\n}\n\nconst inputData = $('Format History').first().json;\nconst embedding = $input.first().json.embedding;\n\nconst words = inputData.question.toLowerCase().split(/\\W+/).filter(w => w.length > 2);\nconst wordCounts = {};\nwords.forEach(w => { wordCounts[w] = (wordCounts[w] || 0) + 1; });\n\nconst indices = [], values = [];\nObject.entries(wordCounts).forEach(([word, count]) => {\n  indices.push(hashCode(word) % 30000);\n  values.push(count);\n});\n\nreturn [{ json: {\n  ...inputData,\n  dense_vector: embedding,\n  sparse_vector: { indices, values }\n}}];"},"id":"prepare-vectors","name":"Prepare Vectors","type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,400]},{"parameters":{"method":"POST","url":"={{ $json.config.QDRANT_URL }}/collections/{{ $json.config.QDRANT_COLLECTION }}/points/query","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prefetch\": [\n    {\n      \"query\": {{ JSON.stringify($json.dense_vector) }},\n      \"using\": \"dense\",\n      \"limit\": 25,\n      \"filter\": {\"must\": [{\"key\": \"family_id\", \"match\": {\"value\": \"{{ $json.family_id }}\"}}]}\n    },\n    {\n      \"query\": {{ JSON.stringify($json.sparse_vector) }},\n      \"using\": \"bm25\",\n      \"limit\": 25,\n      \"filter\": {\"must\": [{\"key\": \"family_id\", \"match\": {\"value\": \"{{ $json.family_id }}\"}}]}\n    }\n  ],\n  \"query\": {\"fusion\": \"rrf\"},\n  \"limit\": 25,\n  \"with_payload\": true\n}","options":{"timeout":30000}},"id":"hybrid-search","name":"Hybrid Search (RRF)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2300,400]},{"parameters":{"jsCode":"const prevData = $('Prepare Vectors').first().json;\nconst searchResponse = $input.first().json;\nconst results = searchResponse.result?.points || [];\n\nreturn [{ json: {\n  ...prevData,\n  result: results,\n  result_count: results.length\n}}];"},"id":"merge-results","name":"Merge Search Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-results","leftValue":"={{ $json.result_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"if-has-results","name":"Has Results?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2700,400]},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst familyId = inputData.family_id;\nconst familyName = familyId.charAt(0).toUpperCase() + familyId.slice(1);\n\nreturn [{ json: {\n  ...inputData,\n  response_text: `I couldn't find any relevant documents for your question in the ${familyName} family files. Please make sure documents have been indexed for this family, or try rephrasing your question.`,\n  citations: [],\n  documents_retrieved: []\n}}];"},"id":"no-results","name":"No Results Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,600]},{"parameters":{"jsCode":"// Keyword boosting with query expansion\nconst inputData = $input.first().json;\nconst question = inputData.question.toLowerCase();\nconst results = inputData.result || [];\nconst config = inputData.config;\n\nconst expansions = {\n  'married': ['marriage', 'spouse', 'wedding', 'wife', 'husband', 'divorced', 'divorce', 'separated'],\n  'marriage': ['married', 'spouse', 'wedding', 'wife', 'husband', 'divorced', 'divorce'],\n  'divorce': ['divorced', 'separated', 'marriage', 'married', 'spouse', 'ex-wife', 'ex-husband'],\n  'children': ['child', 'son', 'daughter', 'kids', 'offspring', 'minor'],\n  'death': ['died', 'deceased', 'passed', 'dead', 'obituary'],\n  'trust': ['trustee', 'beneficiary', 'estate', 'will', 'inheritance'],\n  'property': ['real estate', 'house', 'home', 'land', 'deed', 'asset'],\n  'money': ['funds', 'assets', 'account', 'bank', 'investment', 'financial'],\n  'events': ['timeline', 'history', 'dates', 'occurred', 'happened', 'key']\n};\n\nconst questionWords = question.split(/\\W+/).filter(w => w.length > 3);\nconst expandedWords = new Set(questionWords);\nfor (const word of questionWords) {\n  if (expansions[word]) {\n    expansions[word].forEach(related => expandedWords.add(related));\n  }\n}\nconst allSearchTerms = Array.from(expandedWords);\n\nconst scored = results.map(result => {\n  const text = (result.payload.text || '').toLowerCase();\n  const contextText = (result.payload.context_text || '').toLowerCase();\n  const docTitle = (result.payload.document_title || '').toLowerCase();\n\n  let keywordScore = 0;\n  for (const word of allSearchTerms) {\n    if (text.includes(word)) keywordScore += 0.2;\n    if (contextText.includes(word)) keywordScore += 0.1;\n    if (docTitle.includes(word)) keywordScore += 0.1;\n  }\n  keywordScore += result.score * 0.15;\n\n  return {\n    id: result.id,\n    rrf_score: result.score,\n    keyword_score: keywordScore,\n    title: result.payload.document_title || 'Unknown',\n    text: result.payload.text || '',\n    context_text: result.payload.context_text || '',\n    page_num: result.payload.page_num || 1,\n    payload: result.payload\n  };\n});\n\nconst prefilterTopK = config.PREFILTER_TOP_K || 25;\nconst candidates = scored.sort((a, b) => b.keyword_score - a.keyword_score).slice(0, prefilterTopK);\n\nreturn [{ json: {\n  ...inputData,\n  candidates,\n  documents_retrieved: scored.map(r => ({ id: r.id, title: r.title, page_num: r.page_num, rrf_score: r.rrf_score, document_id: r.payload?.document_id }))\n}}];"},"id":"keyword-prefilter","name":"Keyword Pre-Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,400]},{"parameters":{"jsCode":"// Pointwise 0-10 Reranker\nconst inputData = $input.first().json;\nconst { config, question, candidates } = inputData;\n\nif (!candidates || candidates.length === 0) {\n  return [{ json: { ...inputData, top_results: [] }}];\n}\n\nconst MODEL_NAME = config.RERANKER_MODEL;\nconst OLLAMA_URL = config.OLLAMA_URL;\nconst TOP_K = config.RERANKER_TOP_K || 10;\nconst MIN_SCORE = config.RERANKER_MIN_SCORE || 2.0;\n\nconst httpRequest = this.helpers.httpRequest.bind(this.helpers);\n\nconst scorePromises = candidates.map(async (doc) => {\n  const textPreview = (doc.text || '').substring(0, 800).replace(/\\n/g, ' ');\n  const prompt = `Task: Rate the relevance of the following document to the query on a scale of 0.0 to 10.0.\\n\\nQuery: \"${question}\"\\n\\nDocument: \"...${textPreview}...\"\\n\\nScoring Criteria:\\n- 10: Contains the exact answer/fact requested.\\n- 5-9: Discusses the topic closely but might miss specific details.\\n- 0-4: Tangentially related or irrelevant.\\n\\nOutput: Return ONLY the number (e.g., 8.5). No explanation.`;\n\n  try {\n    const response = await httpRequest({\n      method: 'POST',\n      url: `${OLLAMA_URL}/api/chat`,\n      body: { model: MODEL_NAME, messages: [{ role: 'user', content: prompt }], stream: false, think: false, options: { temperature: 0, num_predict: 10 } },\n      json: true\n    });\n    const content = response?.message?.content || '0';\n    const match = content.match(/[\\d]+(\\.[\\d]+)?/);\n    const score = match ? parseFloat(match[0]) : 0;\n    return { ...doc, reranker_score: score, final_score: (score * 0.9) + ((doc.keyword_score || 0) * 0.1) };\n  } catch (error) {\n    return { ...doc, reranker_score: 0, final_score: (doc.keyword_score || 0), error: error.message };\n  }\n});\n\nconst results = await Promise.all(scorePromises);\nconst topResults = results.filter(r => r.reranker_score >= MIN_SCORE).sort((a, b) => b.final_score - a.final_score).slice(0, TOP_K);\n\nreturn [{ json: { ...inputData, top_results: topResults }}];"},"id":"rerank-with-llm","name":"LLM Reranker (0-10)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,400]},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst config = inputData.config;\nconst question = inputData.question;\nconst results = inputData.top_results;\nconst chatHistory = inputData.chat_history || [];\n\n// Build context with clean source format\nconst contextBlocks = results.map((r, i) => {\n  const docTitle = r.title || 'Unknown Document';\n  const pageNum = r.page_num || 1;\n  const contextText = r.context_text || r.text || '';\n  \n  return `--- Source: ${docTitle}, Page ${pageNum} ---\\n${contextText}`;\n}).join('\\n\\n');\n\nconst systemPrompt = `You are Mattervault, a legal document assistant for a law firm specializing in estate planning.\\n\\nYOUR ROLE: Answer questions ONLY using the provided document excerpts. You report what documents say \u2014 you do not provide legal advice.\\n\\nSTRICT RULES:\\n1. ONLY use information from the Context Documents provided below. Never use outside knowledge.\\n2. If the answer is not in the provided documents, say: \"I don't find that information in the available documents for this matter.\"\\n3. NEVER fabricate, speculate, or infer beyond what the documents explicitly state.\\n4. For EVERY claim, cite the source using EXACTLY this format: (Source: [Document Title], Page [N])\\n5. Be THOROUGH \u2014 include ALL relevant information from the context, not just the first match.\\n6. Consider the FULL picture \u2014 if asked about marriages, also mention divorces/separations if present.\\n7. If a question is unrelated to the documents (general knowledge, opinions, etc.), decline: \"I can only answer questions about documents in this matter.\"\\n8. For legal terms, quote the exact document language in quotation marks.\\n9. If documents contain conflicting information, note the conflict and cite both sources.\\n10. Do NOT use numbered source references like \"Source 1\" \u2014 always use the full document name.\\n11. You may reference previous conversation for context, but ALL facts MUST come from the documents.\\n12. Never provide legal advice or opinions \u2014 only report what the documents state.\\n\\nRESPONSE FORMAT:\\n- Lead with the direct answer to the question\\n- Support with specific citations from the documents\\n- Keep responses concise and professional\\n- Use quotation marks when citing exact document language`;\n\n// Build messages array with chat history\nconst messages = [\n  { role: 'system', content: systemPrompt }\n];\n\n// Add chat history (previous Q&A pairs)\nfor (const msg of chatHistory) {\n  messages.push({\n    role: msg.role === 'assistant' ? 'assistant' : 'user',\n    content: msg.content\n  });\n}\n\n// Add current user question with document context\nconst userPrompt = `Context Documents:\\n${contextBlocks}\\n\\n---\\n\\nQuestion: ${question}\\n\\nAnswer based ONLY on the context documents above. Cite each fact with (Source: [Document Title], Page [N]).`;\nmessages.push({ role: 'user', content: userPrompt });\n\n// V5: Pass through all inputData fields for persistence/audit, plus messages and sources\nreturn [{\n  json: {\n    ...inputData,\n    messages: messages,\n    sources: results.map(r => ({\n      title: r.title || 'Unknown',\n      page: r.page_num || 1,\n      document_id: r.payload?.document_id || null\n    }))\n  }\n}];"},"id":"build-prompt","name":"Build LLM Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[3300,400]},{"parameters":{"method":"POST","url":"={{ $json.config.OLLAMA_URL }}/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"{{ $json.config.CHAT_MODEL }}\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"stream\": false,\n  \"options\": { \"temperature\": 0.1 }\n}","options":{"timeout":120000}},"id":"generate-answer","name":"Generate Answer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,400]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst promptData = $('Build LLM Prompt').first().json;\nconst allSources = promptData.sources;\n\nlet answer = '';\nif (response.message && response.message.content) {\n  answer = response.message.content;\n} else if (response.response) {\n  answer = response.response;\n} else {\n  answer = 'I encountered an issue generating a response. Please try again.';\n}\n\nconst citationRegex = /\\(Source:\\s*([^,]+),\\s*Page\\s*(\\d+)\\)/gi;\nconst citedSources = new Map();\nlet match;\nwhile ((match = citationRegex.exec(answer)) !== null) {\n  const title = match[1].trim();\n  const page = parseInt(match[2]);\n  if (!citedSources.has(title)) citedSources.set(title, new Set());\n  citedSources.get(title).add(page);\n}\n\nlet citations;\nif (citedSources.size > 0) {\n  const uniqueDocs = Array.from(citedSources.keys());\n  citations = uniqueDocs.map(title => {\n    const pages = Array.from(citedSources.get(title)).sort((a,b) => a-b);\n    const source = allSources.find(s => s.title === title);\n    return { source: title, pages, document_id: source?.document_id || null };\n  });\n} else {\n  const uniqueTitles = [...new Set(allSources.map(s => s.title))];\n  citations = uniqueTitles.map(title => {\n    const source = allSources.find(s => s.title === title);\n    return { source: title, pages: [], document_id: source?.document_id || null };\n  });\n}\n\nconst citationsList = citations.map(c => `- ${c.source}`).join('\\n');\n\nreturn [{ json: {\n  ...promptData,\n  response_text: answer + '\\n\\n---\\n**Citations:**\\n' + citationsList,\n  citations\n}}];"},"id":"format-response","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3700,400]},{"parameters":{"operation":"executeQuery","query":"=-- Save assistant message\nINSERT INTO messages (conversation_id, role, content, citations)\nVALUES (\n  '{{ $json.conversation_id }}',\n  'assistant',\n  '{{ $json.response_text.replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.citations).replace(/'/g, \"''\") }}'\n)\nRETURNING id;","options":{}},"id":"save-assistant-message","name":"Save Assistant Message","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3900,400],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"operation":"executeQuery","query":"=-- Update conversation timestamp\nUPDATE conversations SET updated_at = NOW() WHERE id = '{{ $('Format Response').first().json.conversation_id }}'\nRETURNING id;","options":{}},"id":"update-conversation","name":"Update Conversation","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4100,400],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"operation":"executeQuery","query":"=-- Log audit record\nINSERT INTO audit.chat_query_logs (\n  correlation_id, n8n_execution_id, user_id, paperless_username,\n  client_ip, user_agent, family_id, conversation_id,\n  query_text, response_text, documents_retrieved, documents_cited, total_latency_ms\n) VALUES (\n  '{{ $('Format Response').first().json.correlation_id }}',\n  '{{ $execution.id }}',\n  '{{ $('Format Response').first().json.user_id }}',\n  {{ $('Format Response').first().json.paperless_username ? \"'\" + $('Format Response').first().json.paperless_username + \"'\" : 'NULL' }},\n  {{ $('Format Response').first().json.client_ip ? \"'\" + $('Format Response').first().json.client_ip + \"'\" : 'NULL' }},\n  {{ $('Format Response').first().json.user_agent ? \"'\" + $('Format Response').first().json.user_agent.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $('Format Response').first().json.family_id }}',\n  '{{ $('Format Response').first().json.conversation_id }}',\n  '{{ $('Format Response').first().json.question.replace(/'/g, \"''\") }}',\n  '{{ $('Format Response').first().json.response_text.replace(/'/g, \"''\").substring(0, 10000) }}',\n  '{{ JSON.stringify($('Format Response').first().json.documents_retrieved || []).replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($('Format Response').first().json.citations || []).replace(/'/g, \"''\") }}',\n  {{ Date.now() - $('Format Response').first().json.request_start_time }}\n)\nRETURNING id;","options":{}},"id":"log-audit","name":"Log Audit","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[4300,400],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Final output - return only what the UI needs\nconst data = $('Format Response').first().json;\n\nreturn [{ json: {\n  output: data.response_text,\n  conversation_id: data.conversation_id,\n  is_new_conversation: data.is_new_conversation,\n  citations: data.citations,\n  correlation_id: data.correlation_id,\n  execution_id: $execution.id\n}}];"},"id":"final-output","name":"Final Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[4500,400]},{"parameters":{"operation":"executeQuery","query":"=-- Save empty response as assistant message for no-results case\nINSERT INTO messages (conversation_id, role, content)\nVALUES ('{{ $json.conversation_id }}', 'assistant', '{{ $json.response_text.replace(/'/g, \"''\") }}')\nRETURNING id;","options":{}},"id":"save-no-results-message","name":"Save No-Results Message","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3100,600],"credentials":{"postgres":{"id":"6MSod6gvBoneThu4","name":"ChatUI Database"}}},{"parameters":{"jsCode":"// Final output for no-results case\nconst data = $('No Results Response').first().json;\n\nreturn [{ json: {\n  output: data.response_text,\n  conversation_id: data.conversation_id,\n  is_new_conversation: data.is_new_conversation,\n  citations: [],\n  correlation_id: data.correlation_id,\n  execution_id: $execution.id\n}}];"},"id":"no-results-output","name":"No Results Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[3300,600]}],"connections":{"API Webhook":{"main":[[{"node":"Config","type":"main","index":0}]]},"Config":{"main":[[{"node":"Extract Input","type":"main","index":0}]]},"Extract Input":{"main":[[{"node":"Get/Create Conversation","type":"main","index":0}]]},"Get/Create Conversation":{"main":[[{"node":"Merge Conversation ID","type":"main","index":0}]]},"Merge Conversation ID":{"main":[[{"node":"Save User Message","type":"main","index":0}]]},"Save User Message":{"main":[[{"node":"After User Save","type":"main","index":0}]]},"After User Save":{"main":[[{"node":"Get Chat History","type":"main","index":0}]]},"Get Chat History":{"main":[[{"node":"Format History","type":"main","index":0}]]},"Format History":{"main":[[{"node":"Embed Question","type":"main","index":0}]]},"Embed Question":{"main":[[{"node":"Prepare Vectors","type":"main","index":0}]]},"Prepare Vectors":{"main":[[{"node":"Hybrid Search (RRF)","type":"main","index":0}]]},"Hybrid Search (RRF)":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]},"Merge Search Results":{"main":[[{"node":"Has Results?","type":"main","index":0}]]},"Has Results?":{"main":[[{"node":"Keyword Pre-Filter","type":"main","index":0}],[{"node":"No Results Response","type":"main","index":0}]]},"No Results Response":{"main":[[{"node":"Save No-Results Message","type":"main","index":0}]]},"Save No-Results Message":{"main":[[{"node":"No Results Output","type":"main","index":0}]]},"Keyword Pre-Filter":{"main":[[{"node":"LLM Reranker (0-10)","type":"main","index":0}]]},"LLM Reranker (0-10)":{"main":[[{"node":"Build LLM Prompt","type":"main","index":0}]]},"Build LLM Prompt":{"main":[[{"node":"Generate Answer","type":"main","index":0}]]},"Generate Answer":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Save Assistant Message","type":"main","index":0}]]},"Save Assistant Message":{"main":[[{"node":"Update Conversation","type":"main","index":0}]]},"Update Conversation":{"main":[[{"node":"Log Audit","type":"main","index":0}]]},"Log Audit":{"main":[[{"node":"Final Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"453e80f7-d964-4e0b-a14e-992c16ca9932","activeVersionId":"453e80f7-d964-4e0b-a14e-992c16ca9932","versionCounter":42,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-28T19:42:04.940Z","createdAt":"2026-01-28T19:42:04.940Z","role":"workflow:owner","workflowId":"wHoLnYdlFJoaHfDZ","projectId":"Dv5C9YQYnDRwj1db","project":{"updatedAt":"2026-01-22T13:36:52.732Z","createdAt":"2026-01-21T21:09:23.057Z","id":"Dv5C9YQYnDRwj1db","name":"Trevor Collins <tmcollins4@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"6550758c-677d-4b96-b6c6-e38c49125378"}}]}]